#tmpl-loginform
  include ./loginform
#tmpl-notices
  include ./notices

#tmpl-panel_login
  include ./panel_login

#tmpl-panel_home
  include ./panel_home

#tmpl-panel_accounts
  include ./panel_accounts
#tmpl-account
  include ./account
#tmpl-account_new
  include ./account_new
