#tmpl-account
  include ./account
#tmpl-account_new
  include ./account_new
#tmpl-account_search
  include ./account_search
#tmpl-loginform
  include ./loginform
#tmpl-notices
  include ./notices
#tmpl-panel_accounts
  include ./panel_accounts
#tmpl-panel_home
  include ./panel_home
#tmpl-panel_login
  include ./panel_login
#tmpl-rep_find
  include ./rep_find
#tmpl-spinner
  include ./spinner
