#tmpl-account
  include ./account.jade
#tmpl-account_new
  include ./account.new.jade
#tmpl-account_search
  include ./account.search.jade
#tmpl-layer_rep_find
  include ./layer.rep.find.jade
#tmpl-layers
  include ./layers.jade
#tmpl-loginform
  include ./loginform.jade
#tmpl-notices
  include ./notices.jade
#tmpl-panel_accounts
  include ./panel.accounts.jade
#tmpl-panel_home
  include ./panel.home.jade
#tmpl-panel_login
  include ./panel.login.jade
#tmpl-spinner
  include ./spinner.jade
