div(class="tab", data-bind="active:active")
  div(class="layers", data-bind="template:{name:'tmpl-layers',data:layersVM}")

  div(style="width:300px;")
    div(class="")

  div(class="details", data-bind="toggle:{'hide-editor':hideEditor,'hide-notes':hideNotes,'hide-reps':hideRep}")

  div(class="notes", data-bind="toggle:{'hide-editor':hideEditor,'hide-notes':hideNotes}")
