div(class="info")
  div(class="name")
    //- , data-bind="text:FullName")
    span(data-bind="text:Salutation")
    span(data-bind="text:FirstName")
    span(data-bind="text:MiddleName")
    span(data-bind="text:LastName")
    span(data-bind="text:Suffix")
  div(class="ssn", data-bind="text:SSN")
  div(class="dob", data-bind="text:DOB")
  div(class="email", data-bind="text:Email")
