div(class="layer", style="width:400px;height:280px")
  div(class="body")
    div(class="actions", data-bind="if:loaded")
      span(class="btn-bg") Next

    ul(class="edit-form")
      li
        span(class="label") Rep ID
        input(type="text", placeholder="NAME001",
          data-bind="hasfocus:focusRepID,ukov:repData.repId,value:repData.repId,valueUpdate:'keyup',enter:clickFind")

    div(data-bind="if:loaded")
      div(data-bind="with:repData")
        div(class="info repinfo")
          div(class="img-wrap")
            span(class="img", data-bind="bgimg:img")
          span(class="name", data-bind="text:fullname")
          span(class="season", data-bind="text:season")
          span(class="office", data-bind="text:office")
          span(class="phone mobile", data-bind="text:phone")
          span(class="email", data-bind="text:email")

    div(data-bind="if:loading")
      div(class="spinner-wrap white", data-bind="template:'tmpl-spinner'")
