<!-- ko foreach:layers -->
div(class="layer-wrap", data-bind="template:{name:vm.viewTmpl,data:vm}")
<!-- /ko -->
<!-- ko foreach:topLayers -->
div(class="layer-wrap", data-bind="template:{name:vm.viewTmpl,data:vm}")
<!-- /ko -->
