<!-- ko foreach:showLayers -->
div(class="layer-wrap", data-bind="template:{name:vm.viewTmpl,data:vm}")
<!-- /ko -->
<!-- ko foreach:alertLayers -->
div(class="layer-wrap", data-bind="template:{name:vm.viewTmpl,data:vm}")
<!-- /ko -->
