div(class="module-nav survey-types")
  <!-- ko foreach:surveyTypes -->
  h2(data-bind="text:model.Name")
  ul
    <!-- ko foreach:surveys -->
    li(data-bind="click:$parents[1].clickSurvey")
      a(data-bind="active:active")
        span(data-bind="text:model.Version")
    <!-- /ko -->
   <!-- /ko -->

div(data-bind="with:activeChild")
  div(class="module",data-bind="template:viewTmpl")
