h2(class="title") Dashboard
div(class="content")
  h3(class="title") Devices
  ul(class="devices")
    li(class="bracelet")
      a PERS Medical Unit [GPS Cellular]
    li(class="bracelet")
      a PERS Medical Unit [GPS Cellular]

  h3(class="title") Add a new device
  ul(class="devices")
    li(class="home active")
      a(class="") Home Security System (KinTouch TM)
    li(class="car-nav")
      a Car Navigation System (Encompass TM)
    li(class="bracelet")
      a Health Care Bracelet
    li(class="phone")
      a Mobile Phone Application
    li(class="child")
      a Child GPS Tracker
    li(class="pet")
      a Pet GPS Tracker
    li(class="car")
      a Automobile Tracker
    li(class="watch")
      a GPS Watch Tracker

