div(class="module-nav")
  //- SurveyTypes
  <!-- ko foreach:list -->
  h2(data-bind="text:model.Name")
  ul(data-bind="foreach:surveys")
    li
      a(data-bind="text:model.Version")

  <!-- ko with:surveys()[0] -->
  div(class="module",data-bind="template:viewTmpl")
  <!-- /ko -->
  <!-- /ko -->
