table(class="question")
  tr
    td(style="vertical-align:top;")
      //- h3(data-bind="text:number")
      h2(data-bind="text:name")
    td
      //- input(type="text",placeholder="Essence of Question")
      span(data-bind="text:questionMeaning.model.Name")
      ul(class="sv tokens cf",data-bind="visible:questionMeaning.list().length>0")
        li
          span(style="color:black") Tokens:
        <!-- ko foreach:questionMeaning.list -->
        li
          a(data-bind="text:Token")
        <!-- /ko -->
      ul(class="sv pa cf",data-bind="visible:list().length>0")
        li
          span(style="color:black") Possible Answers:
        <!-- ko foreach:list -->
        li
          a(data-bind="text:AnswerText")
        <!-- /ko -->
  <!-- ko foreach:translations -->
  tr
    td
    td
      div(data-bind="css:'css-'+LocalizationCode")
        div(data-bind="text:LocalizationCode")
        div(data-bind="text:model.TextFormat")
  <!-- /ko -->
  tr
    td
    td
      div(data-bind="foreach:questions")
        div(data-bind="template:viewTmpl")
  tr
    td
    td
      div(class="actions")
        ul(class="sv")
          li
            a(title="add sub question",class="btn add-btn",data-bind="click:surveyVM.clickAddQuestion")
              span(data-bind="text:nextName")
