table(style="margin-top:10px;")
  tr
    td(style="vertical-align:top;")
      //- h3(data-bind="text:number")
      h2 1.
    td
      //- input(type="text",placeholder="Essence of Question")
      span(data-bind="text:questionMeaning.model.Name")
      div(data-bind="visible:questionMeaning.list().length>0")
        span Tokens:
        ul(class="tokens cf",data-bind="foreach:questionMeaning.list")
          li
            a(data-bind="text:Token")
      div(data-bind="visible:list().length>0")
        span Possible Answers:
        ul(class="pa cf",data-bind="foreach:list")
          li
            a(data-bind="text:AnswerText")
  <!-- ko foreach:translations -->
  tr
    td
    td
      div(data-bind="css:'css-'+LocalizationCode")
        div(data-bind="text:LocalizationCode")
        div(data-bind="text:model.TextFormat")
  <!-- /ko -->
  tr
    td
    td
      div(data-bind="foreach:questions")
        div(data-bind="template:viewTmpl")
