table(class="question")
  thead
  tr
    td(class="title")
      h2(data-bind="text:name")
    td(class="content")
      <!-- ko with:questionMeaningVM -->
      span(class="qm",data-bind="text:model.Name")
      div(style="color:black;") Tokens:
      ul(class="sv tlist cf")
        li
          a(class="btn small add-btn",data-bind="click:$parent.surveyVM.clickAddToken") Add
        <!-- ko foreach:tokenMaps -->
        li(data-bind="cmd:cmdToggle")
          a(class="btn small",data-bind="active:active,busy:cmdToggle.busy")
            span(data-bind="text:token.Token")
        <!-- /ko -->
      <!-- /ko -->
      div(style="color:black;") Possible Answers:
      ul(class="sv tlist cf")
        li
          a(class="btn small add-btn",data-bind="click:surveyVM.clickAddPossibleAnswer") Add
        <!-- ko foreach:possibleAnswerMaps -->
        li(data-bind="cmd:cmdToggle")
          a(class="btn small",data-bind="active:active,busy:cmdToggle.busy")
            span(data-bind="text:possibleAnswer.AnswerText")
        <!-- /ko -->
      <!-- ko foreach:translations -->
      div(class="translation",data-bind="active:show")
        div(data-bind="template:viewTmpl")
      <!-- /ko -->
  tr
    td
    td
      div(data-bind="foreach:questions")
        div(data-bind="template:viewTmpl")
  tr
    td
    td
      div(class="actions")
        ul(class="sv")
          li
            a(title="add sub question",class="btn add-btn",data-bind="click:surveyVM.clickAddQuestion")
              span(data-bind="text:nextName")
