table(class="question")
  thead
  tr
    td(class="title")
      h2(data-bind="text:name")
    td(class="content")
      <!-- ko with:questionMeaningVM -->
      span(class="qm",data-bind="text:model.Name")
      div(style="color:black;") Tokens:
      ul(class="sv tlist cf")
        li
          a(class="btn small add-btn",data-bind="click:$parent.surveyVM.clickAddToken") Add
        <!-- ko foreach:tokenMaps -->
        li
          span(data-bind="text:'{'+$index()+'}'+token.Token")
          |&nbsp;&nbsp;
        <!-- /ko -->
      <!-- /ko -->
      div(style="color:black;") Possible Answers:
      ul(class="sv tlist cf")
        li
          a(class="btn small add-btn",data-bind="click:surveyVM.clickAddPossibleAnswer") Add
        <!-- ko foreach:possibleAnswerMaps -->
        li(data-bind="cmd:cmdToggle")
          a(class="btn small",
            data-bind="active:active,busy:cmdToggle.busy,attr:{title:active()?'shows sub questions':'sub questions hidden'}")
            span(data-bind="text:possibleAnswer.AnswerText")
        <!-- /ko -->
      <!-- ko foreach:translations -->
      div(class="translation",data-bind="active:show")
        div(data-bind="template:viewTmpl")
      <!-- /ko -->
  tr
    td
    td
      div(data-bind="foreach:questions")
        div(data-bind="template:viewTmpl")
  tr
    td
    td
      div(class="actions")
        ul(class="sv")
          li
            a(class="btn add-btn",
              data-bind="click:surveyVM.clickAddQuestion,cssDisabled:noAddSubQuestion,\
attr:{title:noAddSubQuestion()?'add a possible answer first':'add sub question'}")
              span(data-bind="text:nextName")
