div(class="survey",data-bind="css:translationsCss")
  div(class="layers", data-bind="template:{name:'tmpl-layers',data:layersVM}")

  div(class="head")
    ul(class="sv",data-bind="foreach:translations")
      li(data-bind="click:click")
        a(class="btn",data-bind="active:active")
          span(data-bind="text:model.LocalizationCode")

    br
  div(class="content")
    div(data-bind="foreach:questions")
      //- start question recursion
      div(data-bind="template:viewTmpl")

    div(class="actions")
      ul(class="sv")
        li
          a(class="btn add-btn",data-bind="click:clickAddQuestion")
            span(data-bind="text:nextName")
