div(class="layer", data-bind="width:300,height:250")
  div(data-bind="if:cmdAdd.busy")
    div(class="spinner-wrap white", data-bind="template:'tmpl-spinner',active:true")

  div(class="content")
    span Survey Translation
    ul(class="edit-form")
      li
        span(class="label") Localization Code
        input(type="text",placeholder="en-US",
          data-bind="hasfocus:focus,ukov:stData.LocalizationCode,value:stData.LocalizationCode,valueUpdate:'keyup'")

  div(class="actions")
    ul(class="sv")
      li
        a(class="btn",data-bind="click:clickCancel") Cancel
      li
        a(class="btn",data-bind="cmd:cmdAdd") Add Translation
