div(class="survey")
  h3(data-bind="text:model.Version")

  //- //- SurveyTranslations & Questions
  //- h2 SurveyTranslations &amp; Questions
  //- div(data-bind="foreach:list")
  //-   h4(data-bind="text:model.SurveyId")

  //- SurveyTranslations
  ul(data-bind="foreach:translations")
    li
      a(data-bind="text:model.LocalizationCode")
    //- div(data-bind="foreach:list")
      h4(data-bind="text:QuestionTranslationID")
      h5(data-bind="text:Name")

  h2 Questions
  div(data-bind="foreach:questions")
    h4(data-bind="text:model.QuestionID")
    div(data-bind="template:viewTmpl")

  br
