div(class="survey",data-bind="css:translationsCss")
  div(class="head")
    ul(class="toggles",data-bind="foreach:translations")
      li(data-bind="click:click")
        a(data-bind="active:active")
          span(data-bind="text:model.LocalizationCode")

    br
  div(class="content")
    //- h2 Questions
    div(data-bind="foreach:questions")
      //- h4(data-bind="text:model.QuestionID")
      div(data-bind="template:viewTmpl")

    br
