.repinfo {
  min-height: 105px;
  padding-left: 20px;
  .img-wrap {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
    .box-shadow(1px 2px 8px rgba(0, 0, 0, 0.8));
    .img {
      margin: 0px;
      width: 100px;
      height: 100px;
      background-repeat: no-repeat;
    }
  }
  span {
    display: block;
    margin: 2px;
    &:before {
      font-weight: 500;
    }
  }
  .name {
    font-weight: 500;
  }
}
