#surveys-panel {

  .survey-types {
    > ul {
      margin-left: 30px;

      a {
        padding: 5px;
        display: block;

        color: white;
        &.active {
          width: 100%;
          .border-radius(5px 0px 0px 5px);
          color: @site-green;
          background-color: white;
          font-weight: bold;
        }
      }
    }

    .survey-type {
      position: relative;
      height: 55px;
      padding-top: 23px;
      h2 {
        display: inline;
        padding-left: 5px;
      }
      > .actions {
        display: inline;

        padding: 0px;

        .add-btn {
          margin: 2px;
        }
      }
    }
  }

  .survey {
    position: relative;
    width: 100%;
    height: 100%;

    table.question {
      width: 100%;
      // border-top: solid 1px;
      border-bottom: solid 1px;
      // border-left: solid 1px;
      padding-top: 10px;
      padding-bottom: 10px;

      td.title {
        vertical-align:top;
        h2 {
          padding: 0px 10px;
        }
      }
      td.content {
        width: 100%;
      }
      td.answers {
        text-align: right;
      }

      .qm {
        font-size: 1.2em;
      }
    }
    table.take-question {
      // border-left: solid 1px;
      border-color: red;
      &.complete {
        border-color: white;
      }
    }

    > .head {
      .box-shadow(0px 1px 0px rgba(0, 0, 0, 0.1), inset 4px 0px 6px -2px rgba(0, 0, 0, 0.3););
      height: 61px;
      padding: 20px 10px;
      position: absolute;
      width: 100%;
    }
    > .content {
      .box-shadow(inset 4px 0px 6px -2px rgba(0, 0, 0, 0.3));
      position: absolute;
      top:60px;right:0;bottom:0;left:0;
      overflow-y: auto;
      padding-bottom: 30px;
    }


    .translation {
      transition: max-height 0.25s;
      max-height: 0px;
      overflow-y: hidden;
      &.active {
        transition: max-height 3s;
        max-height: 1000px;
        // overflow-y: auto;
      }

      padding-left: 60px;
      padding-right: 20px;
      position: relative;

      .locale {
        position: absolute;
        left: 0px;
        font-weight: 900;
        width: 58px;
        text-align: right;
      }
      .edit {
        &:hover {
          background-color: rgba(0,0,0,0.05);
        }
      }
    }


    .md-editor {
      textarea {
        width: 100%;
        resize: vertical;
        height: 100px;
        max-height: 300px;
      }
    }

    .md-html {
      &.black {
        color: black;
        blockquote {
          color: #999999;
        }
      }

      margin-right: 20px;

      p {
        font-weight: 100;
        margin: 0px;
        font-size: 1.1em;
      }

      strong {
        font-weight: 500;
      }
      em {
        font-style: italic;
      }
      blockquote {
        margin: 10px 10px 10px 20px;
        font-size: 0.9em;
      }
      ol {
        list-style: decimal;
        margin: 10px 10px 10px 30px;
      }
      ul {
        list-style: disc;
        margin: 10px 10px 10px 30px;
      }
    }
  }

  ul.sv {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0 solid transparent;
    li {
      list-style: none;
      float: left;
      margin: 0 1px 0 0;
      padding: 0;
      &:last-child {
        margin-right: 0;
      }
    }

    &.tlist {
      padding-top: 4px;
      padding-bottom: 10px;
      li {
        padding-top: 3px;
      }
    }
  }

  .btn {
    .user-select(none);
    .border-radius(3px);
    .box-shadow(0px 1px 0px rgba(255,255,255,0.2), inset 0px 1px 0px rgba(255,255,255,0.2););
    .bgi-gradient(rgba(255,255,255,0.04), rgba(0,0,0,0.04));
    padding: 6px 18px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: tint(@site-green, 10%);
    color: white;
    font-weight: 500;
    text-align: center;
    margin: 0;
    font-size: 13px;
    margin-bottom: 10px;
    // width: 100%;
    cursor: pointer;

    &:hover {
      background-color: tint(@site-green, 20%);
      text-decoration: none;
    }
    &:active,
    &.active {
      .box-shadow(inset 0px 0px 8px rgba(0,0,0,0.5));
      background-color: shade(@site-green, 15%);
      color: rgba(255,255,255,0.75);
    }

    &.small {
      font-size: 0.9em;
      padding: 3px 10px;
    }
  }

  .actions {
    padding: 20px 0px 20px 10px;
    height: 60px;
  }
  .add-btn {
    margin-right: 10px;
    padding-left: 36px;
    position: relative;
    &:before {
      .mixin-edit-btn("\e016", 7px, -2px, 16px);
    }

    &.small {
      padding: 3px 10px 3px 28px;
      position: relative;
      &:before {
        .mixin-edit-btn("\e016", 5px, -2px, 13px);
      }
    }
  }
}
