# Only add patterns specific to this project

# anything dir that ends with t2
*t2/

## Windows
Thumbs.db
Desktop.ini

## Mac
.DS_Store

## Web Storm
.idea/

## Sublime Text
*.sublime-workspace

## OTHER
index.css
index.html
www
/testing/
/zzz/
/webconfig.js

node_modules/less/dist
