#tmpl-scheduling-panel
  include ./scheduling.panel.jade
#tmpl-ticket-editor
  include ./ticket.editor.jade
#tmpl-service-ticket
  include ./service.ticket.jade
#tmpl-schedule
  include ./schedule.jade
#tmpl-schedule-block
  include ./create.scheduleblock.jade
#tmpl-schedule-ticket
  include ./create.scheduleticket.jade
#tmpl-technician-availability
  include ./technician.availability.jade
#tmpl-technician-signup
  include ./technician.signup.jade    
#tmpl-technician-tickets
  include ./technician.ticket.jade
#tmpl-technician-ticket-info
  include ./technician.ticket.info.jade
#tmpl-schedule-block-edit
  include ./scheduleblock.edit.jade
#tmpl-schedule-block-view-ticket
  include ./scheduleblock.viewticket.jade
#tmpl-technician-ticket-complete-note
  include ./technician.ticket.complete.note.jade
#tmpl-unschedule-ticket
  include ./scheduleblock.unscheduleticket.jade
#tmpl-reschedule-ticket
  include ./reschedule.ticket.jade
#tmpl-reschedule-ticket-editor
  include ./reschedule.ticket.editor.jade  
  
  
    
    
   
  