#tmpl-panel_scheduling
  include ./scheduling.panel.jade
#tmpl-create-ticket
  include ./create.ticket.jade
#tmpl-service-ticket
  include ./service.ticket.jade
#tmpl-schedule
  include ./schedule.jade
#tmpl-schedule-block
  include ./create.scheduleblock.jade
#tmpl-schedule-ticket
  include ./create.scheduleticket.jade


