#tmpl-scheduling-panel
  include ./scheduling.panel.jade
#tmpl-ticket-editor
  include ./ticket.editor.jade
#tmpl-service-ticket
  include ./service.ticket.jade
#tmpl-schedule
  include ./schedule.jade
#tmpl-schedule-block
  include ./create.scheduleblock.jade
#tmpl-schedule-ticket
  include ./create.scheduleticket.jade
#tmpl-service-technician
  include ./service.technician.jade
#tmpl-technician-signup
  include ./technician.signup.jade    
  


