ul(class="edit-form")
	li
		input(type="hidden" id="eventID")
	li
		span(class="label") Account ID 
		input(type="text" data-bind="ukov:data.AccountId, value:data.AccountId,valueUpdate:'keyup'")
	li(data-bind="visible: isTicketIdVisible")
		span(class="label") Ticket ID
		input(type="text" data-bind="ukov:data.ScheduleTicketID, value:data.ScheduleTicketID, valueUpdate:'keyup'")
	li
		span(class="label") Ticket Type
		div(data-bind="cvm:data.ScheduleTicketTypeCvm")
	li
		span(class="label") Appointment
		input(type="text" data-bind="ukov:data.ScheduleTicketAppointment, value:data.ScheduleTicketAppointment,valueUpdate:'keyup'")
	li
		span(class="label") Travel Time(minutes)
		input(type="text" data-bind="ukov:data.ScheduleTravelTime, value:data.ScheduleTravelTime, valueUpdate:'keyup'")
	li
		span(class="label") General Note
		textarea(rows="5" data-bind="ukov:data.ScheduleTicketNotes, value:data.ScheduleTicketNotes,valueUpdate:'keyup'")
	li
		input(type="hidden" data-bind="ukov:data.ScheduleAppointmentDate, value:data.ScheduleAppointmentDate, valueUpdate:'keyup'")
div(class="actions")
	span(class="btn-bg", id="btnPopupSave" tabindex="0", data-bind="cmd: cmdSaveScheduleTicket") Submit
	span(class="btn-bg", id="btnPopupCancel" tabindex="0", data-bind="cmd:clickClose") Cancel
