ul(class="edit-form")
	li
		input(type="hidden" id="eventID")
	li
		label Number of Slots
		input(type="text" data-bind="ukov:data.ScheduleAvailableSlot, value:data.ScheduleAvailableSlot, valueUpdate:'keyup', select:focusFirst")
	li
		label Zip
		input(type="text" data-bind="ukov:data.ScheduleZip, value:data.ScheduleZip, valueUpdate:'keyup'")
	li
		label Max Radius
		input(type="text" data-bind="ukov:data.ScheduleMaxRadius, value:data.ScheduleMaxRadius, valueUpdate:'keyup'")
	li
		label Distance
		input(type="text" data-bind="ukov:data.ScheduleDistance, value:data.ScheduleDistance, valueUpdate:'keyup'")
	li
		//-Appointment Date
		input(type="hidden" data-bind="ukov:data.ScheduleDate, value:data.ScheduleDate, valueUpdate:'keyup'")
	li
		label Block Startime
		input(type="text" data-bind="ukov:data.ScheduleStartTime, value:data.ScheduleStartTime, valueUpdate:'keyup'")
	li
		label Block Endtime
		input(type="text" data-bind="ukov:data.ScheduleEndTime, value:data.ScheduleEndTime, valueUpdate:'keyup'")
	li
div(class="actions")
	span(class="btn-bg", id="btnPopupSave" tabindex="0", data-bind="cmd: cmdSaveBlock") Save Block
	span(class="btn-bg", id="btnPopupCancel" tabindex="0", data-bind="cmd:clickClose") Cancel
