table(class="fh-wrap")
  tr
    td(class="fh-header relative")
      ul(class="edit-form")
  tr
    td(class="fh-body")
      div(class="fh-contents")
        div(class="grid-wrap")
          div(class="slickgrid",
            style="background:white;margin:10px;color:black;",
            data-bind="slickgrid:gvm")
