table(class="fh-wrap")
	tr
		td
			div(id="accountInfo" style="margin: 10px;", data-bind="visible: IsNowScheduling")
				label(span class="label" style="margin-right: 20px;") Now Scheduling:
				label(style="margin-right: 20px;" data-bind="text:AccountMasterFileNumber")
				label(style="margin-right: 20px;" data-bind="text:AccountNumber")
				label(style="margin-right: 20px;" data-bind="text:AccountName")
				label(style="margin-right: 20px;" data-bind="text:AccountAddress")
	tr
		td(class="fh-body")
			div(class="fh-contents relative")
				div(class="grid-wrap")
					div(id="calendar" class="fc-grid-layer" style="background-color:white; margin: 10px;")

