table(class="fh-wrap")
	tr
		td
			div(id="accountInfo" style="margin: 10px;")
				label Now Scheduling: 
				label(id="accountNumber")
				label(id="accountName")
				label(id="accountAddress")

	tr
		td(class="fh-body")
			div(class="fh-contents relative")
				div(class="grid-wrap")
					div(id="calendar" class="fc-grid-layer" style="background-color:white; margin: 10px;")
					div(class="layers" data-bind="template:{name:layersVm.viewTmpl,data:layersVm}")

