ul(class="edit-form")
	li
		span(class="label") Closing Note
		textarea(rows="5" data-bind="ukov:data.ClosingNote, value:data.ClosingNote,valueUpdate:'keyup'")
	li
		span(class="label") Confirmation Number
		input(type="text" data-bind="ukov:data.ConfirmationNo, value:data.ConfirmationNo, valueUpdate:'keyup'")
div(class="actions")
	span(class="btn-bg", style="width: 25%;" id="btnPopupCancel" tabindex="0", data-bind="cmd:clickClose") Done
