div(class="ticket-editor")
  div(data-bind="spinner:loading,spinner-rgb:'white'")
ul(class="edit-form")
  li
  span(class="label") Account ID 
  input(type="text" data-bind="ukov:data.AccountID, value:data.AccountID,valueUpdate:'keyup'")
  li
  span(class="label") Monitronics Ticket# 
  input(type="text" data-bind="ukov:data.MoniNumber, value:data.MoniNumber,valueUpdate:'keyup'")
  li
  span(class="label") Not Applicable
  input(type="checkbox" style="margin-left: 0px;")
  hr
  li
  div(style="height: 5px;")
  span(class="label") Ticket Type
  div(data-bind="cvm:data.ticketTypeCvm")
  li
  span(class="label") General Note 
  textarea(rows="5" data-bind="ukov:data.Notes, value:data.Notes,valueUpdate:'keyup'")
  div(class="line-top")
      ul(class="actions")
        li
          a(class="btn",tabindex="0",data-bind="cmd:clickCancel") Cancel
        li
          a(class="btn",tabindex="0",data-bind="cmd:cmdSave") Save
        li
          a(class="btn",tabindex="0",data-bind="cmd:cmdSchedule") Save and Schedule 	
