#tmpl-account_checklist
  include ./account.checklist.jade
#tmpl-account_info
  include ./account.info.jade
#tmpl-account_qualify
  include ./account.qualify.jade
#tmpl-account_runcredit
  include ./account.runcredit.jade
#tmpl-account_search
  include ./account.search.jade
#tmpl-credit
  include ./credit.jade
#tmpl-customer
  include ./customer.jade
#tmpl-masteraccount
  include ./masteraccount.jade
#tmpl-notes
  include ./notes.jade

include ../security/_all.jade
