div(class="panel", data-bind="active:active")
  div(class="p-nav checklist")
    br
    ul
      <!-- ko foreach:checklist -->
      li(data-bind="")
        a(data-bind="active:active")
          span(data-bind="text:title")
      <!-- /ko -->
  div(class="p-module",data-bind="with:activeChild")
    div(data-bind="template:viewTmpl")

  div(class="layers", data-bind="template:{name:layersVM.viewTmpl,data:layersVM}")
