ul(class="tabs cf")
  <!-- ko foreach:childs -->
  li(class="tab")
    a(data-bind="click:$parent.clickItem,active:active,text:title")
  <!-- /ko -->
div(class="tab-wrap")
  <!-- ko foreach:childs -->
  div(class="tab", data-bind="template:viewTmpl,active:active")
  <!-- /ko -->
