div(class="tab panel account", data-bind="active:active,toggle:{'hide-nav':hideNav,'hide-notes':hideNotes}")
  div(data-bind="if:false")
    div(class="white", data-bind="template:'tmpl-spinner'")

  //- div(class="p-module",data-bind="if:activeChild")
  //-   div(data-bind="template:{name:activeChild().viewTmpl,data:activeChild}")
  div(class="p-module",data-bind="if:activeChild()")
    div(data-bind="template:{name:activeChild().viewTmpl,data:activeChild()}")

  div(class="p-nav")
    div(class="toggle-btn", data-bind="click:clickToggleNav,toggle:{'closed':hideNav}")
      div(class="close")
      div(class="open")

    div(class="contents-wrap")
      div(class="contents")
        div(class="section")
          span(class="title") Contract Owner
          div(class="contents")
            div(class="info userinfo")
              div(class="img-wrap")
                div(class="img", style="background-image:url(https://secure.gravatar.com/avatar/f47bda756ab7abfaeb7b5e1b59d5edc9?s=80&r=pg&d=https%3A%2F%2Fkanbanflow.com%2Fimg%2Fgd.png);")
              div(class="name") Andres Sosa
              div(class="address") 1573 N Technology Way
              div(class="address") Suite 1100, Bldg A
              div(class="address") Orem, UT 84057
              div(class="separator")
              div(class="phone mobile") (801) 822-9323
              div(class="phone work") (801) 822-7862
              div(class="phone home") (801) 226-7067
              div(class="email") asosa@nexsense.com
              div(class="credit-score excellent") Credit Score: TU Excellent

        div(class="section")
          div(class="title")
            span Accounts
            span(class="btn small add-btn") New
          div(class="contents")
            ul(class="accounts")
              <!-- ko foreach:accounts -->
              li
                a(data-bind="active:active,click:$parent.clickItem")
                  span(class="name",data-bind="text:title")
                  <!-- ko if:hasRmr -->
                  span(class="amount",data-bind="currency:rmr")
                  <!-- /ko -->
                  <!-- ko ifnot:hasRmr -->
                  span(class="nUnits",data-bind="text:units")
                  <!-- /ko -->
              <!-- /ko -->
              li
                a(class="total")
                  span(class="name") Total RMR
                  span(class="amount",data-bind="currency:totalRmr")

        div(class="section")
          span(class="title") Payment History
          div(class="contents")
            ul(class="accounts")
              li
                a(class="")
                  span(class="name") ??
                  span(class="amount")

        div(class="section")
          span(class="title") Aging
          div(class="contents")
            ul(class="accounts")
              <!-- ko foreach:agings -->
              li
                a(data-bind="active:active")
                  span(class="name",data-bind="text:title")
                  span(class="amount",data-bind="currency:amount")
              <!-- /ko -->
              li
                a(class="total")
                  span(class="name") Total Pasted Due
                  span(class="amount",data-bind="currency:totalAging")


  div(class="notes")
    span(class="title", data-bind="click:clickToggleNotes") Notes:
    div(class="contents") contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here contents go here
