div(class="sales-info")
  div(class="title") Sales Info Screen
  span(class="subHeader") System Type Information
  br 
  span(class="ssiQuestion") A. Is this a 6.5 or 8 Point system?
  div(data-bind="template:{name:psComboVM.viewTmpl,data:psComboVM}")
  span(class="subHeader") Monitoring And Service Information
  br
  span(class="ssiQuestion") B. Is the activation fee  $XX.XX?

