div(class="panel", data-bind="active:active")
	div(class="title") Sales Info Screen
	span System Type Information
	br A. Is this a 6.5 or 8 Point system?
	div(data-bind="template:{name:psComboVM.viewTmpl,data:psComboVM}")


