script(id="tmpl-admin-panel",type="text/html")
  include ./admin.panel.jade

script(id="tmpl-admin-authcontrol",type="text/html")
  include ./authcontrol.jade

script(id="tmpl-admin-group_editor",type="text/html")
  include ./group.editor.jade
script(id="tmpl-admin-group",type="text/html")
  include ./group.jade
