div(class="panel alarm",data-bind="active:active")
  //- div(data-bind="if:false")
    div(class="spinner-wrap white", data-bind="template:'tmpl-spinner'")

  div(class="system-wrap",data-bind="with:systemVm")
    h1 System
    div(class="line-top")
      ul(class="edit-form")
        li
          span(class="label") Alarm ID
          input(type="text",placeholder="",
            data-bind="ukov:alarmid,value:alarmid,valueUpdate:'keyup',enter:cmdConnect,select:focusFirst")
        li
          span(class="btn-bg", tabindex="0", data-bind="cmd:cmdConnect") Connect
    div(class="line-top")
      //- available actions
      //-   arm/disarm system
      h2 State
      ul(class="edit-form")
        li
          span(class="label") Alarm Status
          div(data-bind="cvm:data.armStatusCvm")
        li
          span(class="btn-bg", tabindex="0", data-bind="cmd:cmdSave") Save
    div(class="line-top")
      ul(class="edit-form",data-bind="foreach:log")
        li
          span(data-bind="datetimesectext:time")
          span &nbsp;-&nbsp;
          span(data-bind="text:text")

    //-
    //- available events
    //-   trigger
    //-
    //- handle actions
    //-   arm/disarm system
    //-
    //- show list of:
    //-   actions performed and who/which device performed them
    //-   events triggered
    //-

  div(class="client-wrap",data-bind="with:clientVm")
    h1 Client
    div(class="line-top")
      ul(class="edit-form")
        li
          span(class="label") Alarm ID
          input(type="text",placeholder="",
            data-bind="ukov:alarmid,value:alarmid,valueUpdate:'keyup',enter:cmdConnect,select:focusFirst")
        li
          span(class="btn-bg", tabindex="0", data-bind="cmd:cmdConnect") Connect
    div(class="line-top")
      //- available actions
      //-   arm/disarm system
      h2 State
      ul(class="edit-form")
        li
          span(class="label") Alarm Status
          div(data-bind="cvm:data.armStatusCvm")
        li
          span(class="btn-bg", tabindex="0", data-bind="cmd:cmdSave") Save
    div(class="line-top")
      ul(class="edit-form",data-bind="foreach:log")
        li
          span(data-bind="datetimesectext:time")
          span &nbsp;-&nbsp;
          span(data-bind="text:text")

    //-
    //- handle events
    //-   display event (see below)
    //-
    //- show list of:
    //-   actions performed
    //-   events triggered
    //-
