#tmpl-acct-default-address
  include ./address.jade
#tmpl-acct-default-address_validate
  include ./address.validate.jade
#tmpl-acct-default-runcredit
  include ./runcredit.jade
#tmpl-acct-default-search
  include ./search.jade
#tmpl-acct-default-credit
  include ./credit.jade
#tmpl-acct-default-customer
  include ./customer.jade
#tmpl-acct-default-initialpayment
  include ./initialpayment.jade
#tmpl-acct-default-masteraccount
  include ./masteraccount.jade
#tmpl-acct-default-notes
  include ./notes.jade
#tmpl-acct-default-payby_credit
  include ./payby.credit.jade
#tmpl-acct-default-payby_eft
  include ./payby.eft.jade
#tmpl-acct-default-payby_invoice
  include ./payby.invoice.jade
#tmpl-acct-default-payby
  include ./payby.jade
#tmpl-acct-default-rep_find
  include ./rep.find.jade
#tmpl-acct-default-rep_info
  include ./rep.info.jade
