script(id="tmpl-acct-default-address",type="text/html")
  include ./address.jade
script(id="tmpl-acct-default-address_validate",type="text/html")
  include ./address.validate.jade
script(id="tmpl-acct-default-runcredit-result",type="text/html")
  include ./runcredit-result.jade
script(id="tmpl-acct-default-runcredit",type="text/html")
  include ./runcredit.jade
script(id="tmpl-acct-default-search",type="text/html")
  include ./search.jade
script(id="tmpl-acct-default-credit",type="text/html")
  include ./credit.jade
script(id="tmpl-acct-default-customer",type="text/html")
  include ./customer.jade
script(id="tmpl-acct-default-masteraccount",type="text/html")
  include ./masteraccount.jade
script(id="tmpl-acct-default-notes",type="text/html")
  include ./notes.jade
script(id="tmpl-acct-default-payby_credit",type="text/html")
  include ./payby.credit.jade
script(id="tmpl-acct-default-payby_ach",type="text/html")
  include ./payby.ach.jade
script(id="tmpl-acct-default-payby_invoice",type="text/html")
  include ./payby.invoice.jade
script(id="tmpl-acct-default-payby",type="text/html")
  include ./payby.jade
script(id="tmpl-account-default-payment_method",type="text/html")
  include ./payment.method.jade
script(id="tmpl-acct-default-rep_find",type="text/html")
  include ./rep.find.jade
script(id="tmpl-acct-default-rep_info",type="text/html")
  include ./rep.info.jade
