div(class="credit-result")
  div
    span(class="title") STATUS:
    wbr
    span ??????????
  div
    span(class="title") Group:
    wbr
    span GGGGGG
  div
    span(class="title") Bureau:
    wbr
    span(data-bind="text:BureauId")
  //- div
  //-   span(class="title") Date:
  //-   wbr
  //-   span(data-bind="text:CreatedOn")
  //- div
  //-   span(class="title") Run By:
  //-   wbr
  //-   span(data-bind="text:CreatedBy")
