div(data-bind="crg:CreditGroup" class="credit-result")
  div
    span(class="title") STATUS:
    wbr
    span(data-bind="crs:IsHit")
  div
    span(class="title") Group:
    wbr
    span(data-bind="text:CreditGroup")
  div
    span(class="title") Bureau:
    wbr
    span(data-bind="text:BureauId")
  //- div
  //-   span(class="title") Date:
  //-   wbr
  //-   span(data-bind="text:CreatedOn")
  //- div
  //-   span(class="title") Run By:
  //-   wbr
  //-   span(data-bind="text:CreatedBy")
