div(class="info")
  div(class="name",data-bind="text:CustomerName")
  div(class="ssn", data-bind="ssnmasked:SSN")
  div(class="dob", data-bind="datetext:DOB")
  div(class="email", data-bind="text:Email")
