div(class="info")
  div(class="name",data-bind="text:[Salutation,FirstName,MiddleName,LastName,Suffix].join(' ')")
  div(class="ssn", data-bind="text:SSN")
  div(class="dob", data-bind="text:DOB")
  div(class="email", data-bind="text:Email")
