div(class="panel account active load-err", data-bind="if:loadErr,toggle:{'may-reload':mayReload}")
  div(class="p-module")
    div Failed to load customer account
    ul(class="actions")
      li
        a(class="btn small",tabindex="0",data-bind="hasfocus:true,cmd:clickReload") Retry
      li
        a(class="btn small",tabindex="0",data-bind="cmd:close") Close

div(data-bind="if:!loadErr()&&!loading()")
  div(class="panel account", data-bind="active:active,toggle:{'hide-nav':hideNav,'hide-notes':hideNotes,'may-reload':mayReload}")

    //- div(class="p-module",data-bind="if:activeChild")
    //-   div(data-bind="template:{name:activeChild().viewTmpl,data:activeChild}")
    div(class="p-module",data-bind="if:activeChild()")
      div(data-bind="template:{name:activeChild().viewTmpl,data:activeChild()}")

    div(class="p-nav")
      div(class="toggle-btn", data-bind="click:clickToggleNav,toggle:{'closed':hideNav}")
        div(class="close")
        div(class="open")

      div(class="contents-wrap")
        div(class="contents")
          div(class="section")
            span(class="title") Contract Owner
            div(class="contents")
              div(class="info userinfo",data-bind="with:customerData")
                div(class="img-wrap")
                  div(class="img", style="background-image:url(https://secure.gravatar.com/avatar/f47bda756ab7abfaeb7b5e1b59d5edc9?s=80&r=pg&d=https%3A%2F%2Fkanbanflow.com%2Fimg%2Fgd.png);")
                div(class="name",data-bind="text:FullName")
                div(class="address", data-bind="text:StreetAddress")
                div(class="address", data-bind="text:StreetAddress2")
                div(class="address")
                  span(data-bind="text:City")
                  |,&nbsp;
                  span(data-bind="text:StateId")
                  |&nbsp;
                  span(data-bind="text:PostalCode")
                div(class="separator")
                div(class="phone mobile", data-bind="phonetext:PhoneMobile")
                div(class="phone work", data-bind="phonetext:PhoneWork")
                div(class="phone home", data-bind="phonetext:PhoneHome")
                div(class="email", data-bind="text:Email")
                //- div(class="credit-result excellent")
                  |Credit Score:&nbsp;
                  span(data-bind="text:'648'")

          div(class="section")
            div(class="title")
              span Accounts
              span(class="btn small add-btn",tabindex="0",data-bind="cmd:clickNewAccount") New
            div(class="contents")
              ul(class="accounts")
                <!-- ko foreach:accounts -->
                li
                  a(data-bind="active:active,click:$parent.clickItem")
                    span(class="name",data-bind="text:title")
                    <!-- ko if:hasRmr -->
                    span(class="amount",data-bind="currencyHtml:rmr")
                    <!-- /ko -->
                    <!-- ko ifnot:hasRmr -->
                    span(class="nUnits",data-bind="text:units")
                    <!-- /ko -->
                <!-- /ko -->
                li
                  a(class="total")
                    span(class="name") Total RMR
                    span(class="amount",data-bind="currencyHtml:totalRmr")

          div(class="section")
            span(class="title") Payment History
            div(class="contents")
              ul(class="accounts")
                <!-- ko foreach:paymentHistory -->
                li
                  a(class="",data-bind="attr:{title:BillingType+' #: '+BillingNumber}")
                    span(class="name",data-bind="datetext:BillingDate")
                    span(class="amount",data-bind="currencyHtml:BillingAmount")
                <!-- /ko -->

          div(class="section")
            span(class="title") Aging
            div(class="contents")
              ul(class="accounts")
                <!-- ko foreach:agings -->
                li
                  a(data-bind="active:active,click:$parent.clickItem")
                    span(class="name",data-bind="text:title")
                    span(class="amount",data-bind="currencyHtml:amount")
                <!-- /ko -->
                li
                  a(class="total")
                    span(class="name") Total Posted Due
                    span(class="amount",data-bind="currencyHtml:totalAging")


    div(class="notes")
      div(class="contents",data-bind="template:{name:notesVm.viewTmpl,data:notesVm}")
      div(class="title", data-bind="click:clickToggleNotes") Notes:

div(data-bind="spinner:loading,spinner-rgb:'white'")
