div(class="payby-invoice")
  ul(class="edit-form")
    li
      span(class="label") Check Number
      input(type="text", placeholder="",
        data-bind="ukov:data.CheckNumber,value:data.CheckNumber,valueUpdate:'keyup'")
