div(class="payby-eft")
  ul(class="edit-form")
    li
      span(class="label") Card Type
      div(data-bind="cvm:data.CardTypeCvm")
    li
      span(class="label") Card Number
      input(type="text", placeholder="",
        data-bind="ukov:data.CardNumber,value:data.CardNumber,valueUpdate:'keyup'")
    li
      span(class="label") Expiration
      div(class="month",data-bind="cvm:data.ExpirationMonthCvm")
      div(class="year",data-bind="cvm:data.ExpirationYearCvm")
    li
      span(class="label") Security Code (CSC/CCV/CVV)
      //- (CSC/CCV/CVV/CVC/etc) ??? https://en.wikipedia.org/wiki/Card_security_code
      input(class="csc",type="text", placeholder="",
        data-bind="ukov:data.VerificationValue,value:data.VerificationValue,valueUpdate:'keyup'")
      span(data-bind="text:cvvMsg")
    li
      span(class="label") Name on Card
      input(type="text", placeholder="",
        data-bind="ukov:data.NameOnCard,value:data.NameOnCard,valueUpdate:'keyup'")
