div

  div(data-bind="if:AccountTypeId")
    ul(class="payment-method")
      li
        span(class="name") Account Type:
        span(class="value",data-bind="accountTypeId:AccountTypeId")
      li
        span(class="name") Account Number:
        span(class="value",data-bind="text:AccountNumber")
      li
        span(class="name") Routing Number:
        span(class="value",data-bind="text:RoutingNumber")
      li
        span(class="name") Name on Account:
        span(class="value",data-bind="text:NameOnAccount")

  div(data-bind="if:CardTypeId")
    ul(class="payment-method")
      li
        span(class="name") Card Type:
        span(class="value",data-bind="cardTypeId:CardTypeId")
      li
        span(class="name") Card Number:
        span(class="value",data-bind="text:CardNumber")
      li
        span(class="name") Security Code:
        span(class="value",data-bind="text:VerificationValue")
      li
        span(class="name") Expiration:
        span(class="value")
          span(data-bind="text:ExpirationMonth")
          |/
          span(data-bind="text:ExpirationYear")
      li
        span(class="name") Name on Card:
        span(class="value",data-bind="text:NameOnCard")

  div(data-bind="if:CheckNumber")
    ul(class="payment-method")
      li
        span(class="name") Check Number:
        span(class="value",data-bind="text:CheckNumber")

