div(class="info repinfo")
  div(class="img-wrap")
    div(class="img", data-bind="bgimg:ImagePath")
  div(class="companyid", data-bind="text:CompanyID")
  div(class="name")
    span(data-bind="text:FirstName")
    |&nbsp;
    span(data-bind="text:LastName")
  div(class="season", data-bind="text:Seasons[0].SeasonName")
  //- div(class="office", data-bind="text:office")
  div(class="phone mobile", data-bind="phonetext:PhoneCell")
  div(class="email", data-bind="text:Email")
