div(class="rep-find")
  h2(class="title",data-bind="text:title")
  ul(class="edit-form")
    li
      span(class="label") Company ID
      input(type="text", class="rep-id", placeholder="NAME001",
        data-bind="ukov:repData.CompanyID,value:repData.CompanyID,valueUpdate:'keyup',enter:cmdFind,select:focusFirst")
    //- li
      div(data-bind="template:{name:comboVM.viewTmpl,data:comboVM}")

  div(style="margin-bottom:20px;")
      span(class="btn-bg", tabindex="0", data-bind="cmd:cmdFind") Find

  div(class="repinfo-wrap",data-bind="if:repResult")
    div(data-bind="template:{data:repResult,name:'tmpl-acct-default-rep_info'}")

    div(class="actions")
      span(class="btn-bg", tabindex="0", data-bind="cmd:clickClose") Ok
