div(class="rep-find")
  h2(class="title") Sales Rep
  ul(class="edit-form")
    li
      span(class="label") Rep ID
      input(type="text", class="rep-id", placeholder="NAME001",
        data-bind="hasfocus:focusRepID,ukov:repData.SalesRepID,value:repData.SalesRepID,valueUpdate:'keyup',enter:cmdFind")
    //- li
      div(data-bind="template:{name:comboVM.viewTmpl,data:comboVM}")

  div(style="margin-bottom:20px;")
      span(class="btn-bg", data-bind="cmd:cmdFind") Find

  div(data-bind="if:loaded")
    div(data-bind="template:{data:repResult,name:'tmpl-rep_info'}")

    div(class="actions")
      span(class="btn-bg", data-bind="click:clickClose") Ok
