#tmpl-surveys-panel
  include ./surveys.panel.jade
#tmpl-survey-markdownhelp
  include ./markdownhelp.jade
#tmpl-qmtokenmap_new
  include ./qmtokenmap.new.jade
#tmpl-qpossibleanswermap_new
  include ./qpossibleanswermap.new.jade
#tmpl-question
  include ./question.jade
#tmpl-question_editor
  include ./question.editor.jade

#tmpl-survey-questionanswer_answered
  include ./questionanswer.answered.jade
#tmpl-survey-questionanswer_combo
  include ./questionanswer.combo.jade
#tmpl-survey-questionanswer_input
  include ./questionanswer.input.jade
#tmpl-survey-questionanswer_primarycustomer_fullname
  include ./questionanswer.primarycustomer.fullname.jade
#tmpl-survey-questionanswer_radiolist
  include ./questionanswer.radiolist.jade

#tmpl-questionmeaning_new
  include ./questionmeaning.new.jade
#tmpl-questiontranslation_editor
  include ./questiontranslation.editor.jade
#tmpl-questiontranslation
  include ./questiontranslation.jade
#tmpl-survey
  include ./survey.jade
#tmpl-survey_new
  include ./survey.new.jade
#tmpl-surveytranslation_new
  include ./surveytranslation.new.jade
#tmpl-takequestion
  include ./takequestion.jade
#tmpl-takesurvey
  include ./takesurvey.jade
#tmpl-takesurveytranslation
  include ./takesurveytranslation.jade
