script(id="tmpl-surveys-panel",type="text/html")
  include ./surveys.panel.jade
script(id="tmpl-survey-markdownhelp",type="text/html")
  include ./markdownhelp.jade
script(id="tmpl-qmtokenmap_new",type="text/html")
  include ./qmtokenmap.new.jade
script(id="tmpl-qpossibleanswermap_new",type="text/html")
  include ./qpossibleanswermap.new.jade
script(id="tmpl-question",type="text/html")
  include ./question.jade
script(id="tmpl-question_editor",type="text/html")
  include ./question.editor.jade

script(id="tmpl-survey-questionanswer_answered",type="text/html")
  include ./questionanswer.answered.jade
script(id="tmpl-survey-questionanswer_combo",type="text/html")
  include ./questionanswer.combo.jade
script(id="tmpl-survey-questionanswer_input",type="text/html")
  include ./questionanswer.input.jade
script(id="tmpl-survey-questionanswer_primarycustomer_fullname",type="text/html")
  include ./questionanswer.primarycustomer.fullname.jade
script(id="tmpl-survey-questionanswer_radiolist",type="text/html")
  include ./questionanswer.radiolist.jade

script(id="tmpl-questionmeaning_new",type="text/html")
  include ./questionmeaning.new.jade
script(id="tmpl-questiontranslation_editor",type="text/html")
  include ./questiontranslation.editor.jade
script(id="tmpl-questiontranslation",type="text/html")
  include ./questiontranslation.jade
script(id="tmpl-survey",type="text/html")
  include ./survey.jade
script(id="tmpl-survey_new",type="text/html")
  include ./survey.new.jade
script(id="tmpl-surveytranslation_new",type="text/html")
  include ./surveytranslation.new.jade
script(id="tmpl-takequestion",type="text/html")
  include ./takequestion.jade
script(id="tmpl-takesurvey",type="text/html")
  include ./takesurvey.jade
script(id="tmpl-takesurveytranslation",type="text/html")
  include ./takesurveytranslation.jade
