div(data-bind="spinner:cmdAdd.busy,spinner-rgb:'white'")

//- span(data-bind="text:nextName")
ul(class="edit-form")
  li
    span(class="label") Token
    div(data-bind="template:{name:tokenComboVM.viewTmpl,data:tokenComboVM}")

ul(class="actions")
  li
    a(class="btn",tabindex="0",data-bind="cmd:clickCancel") Cancel
  li
    a(class="btn",tabindex="0",data-bind="cmd:cmdAdd") Add Token
