div(data-bind="spinner:cmdSave.busy,spinner-rgb:'white'")

ul(class="edit-form")
  li
    span(class="label") Answer
    div(data-bind="template:{name:data.PossibleAnswerCvm.viewTmpl,data:data.PossibleAnswerCvm}")
  li
    span(class="label") Expands Sub Questions
    div(data-bind="template:{name:data.ExpandsCvm.viewTmpl,data:data.ExpandsCvm}")
  li
    span(class="label") Fails Survey
    div(data-bind="template:{name:data.FailsCvm.viewTmpl,data:data.FailsCvm}")

ul(class="actions")
  li
    a(class="btn",tabindex="0",data-bind="cmd:clickCancel") Cancel
  li
    a(class="btn",tabindex="0",data-bind="cmd:cmdSave") Save
  li(data-bind="if:item")
    a(class="btn",tabindex="0",data-bind="cmd:cmdDelete") Delete
