div(data-bind="if:cmdAdd.busy")
  div(class="spinner-wrap white", data-bind="template:'tmpl-spinner'")

ul(class="edit-form")
  li
    span(class="label") Answer
    div(data-bind="template:{name:paComboVM.viewTmpl,data:paComboVM}")
  li
    span(class="label") Expands Sub Questions
    div(data-bind="template:{name:expandsComboVM.viewTmpl,data:expandsComboVM}")

ul(class="actions")
  li
    a(class="btn",tabindex="0",data-bind="cmd:clickCancel") Cancel
  li
    a(class="btn",tabindex="0",data-bind="cmd:cmdAdd") Add Possible Answer
