table(class="question")
  thead
  tr
    td(class="title")
      h2(data-bind="text:name")
    td(class="content")
      <!-- ko with:questionMeaningVM -->
      span(class="qm",data-bind="text:model.Name")
      div
        span(style="color:black;") Map Answer To Token:
        |&nbsp;
        span(data-bind="text:$parent.mapToTokenName")
      div
        span(style="color:black;") Condition:
        |&nbsp;
        span(data-bind="text:$parent.conditionText")
      <!-- /ko -->
      ul(class="sv tlist cf")
        li
          a(class="btn small add-btn",data-bind="cmd:topVm.cmdAddPossibleAnswer")
        li
          span(style="color:black;") Possible Answers:
          |&nbsp;
        <!-- ko foreach:possibleAnswerMaps -->
        li
          a(class="btn small",
            data-bind="cmd:cmdEdit,active:expands,css:{'fails':fails}")
            span(data-bind="text:possibleAnswer.AnswerText")
        <!-- /ko -->
      <!-- ko with:questionMeaningVM -->
      ul(class="sv tlist cf")
        li
          a(class="btn small add-btn",data-bind="cmd:$parent.topVm.cmdAddToken")
        li
          span(style="color:black;") Tokens:
          |&nbsp;
        <!-- ko foreach:tokenMaps -->
        li
          span(data-bind="text:'{'+$index()+'}'+token.Token")
          |&nbsp;&nbsp;
        <!-- /ko -->
      <!-- /ko -->
      <!-- ko foreach:translations -->
      div(class="translation",data-bind="active:show")
        div(data-bind="template:viewTmpl")
      <!-- /ko -->
  tr
    td
    td
      div(data-bind="foreach:questions")
        div(data-bind="template:viewTmpl")
  tr
    td
    td
      div(class="question-actions")
        ul(class="sv")
          li
            a(class="btn add-btn",
              data-bind="cmd:topVm.cmdAddQuestion,cssDisabled:noAddSubQuestion,attr:{title:noAddSubQuestion()?'add a possible answer first':'add sub question'}")
              span(data-bind="text:nextName")
