table(class="question")
  thead
  tr
    td(class="title")
      h2(data-bind="text:name")
      ul(class="actions")
        li
          a(class="btn fa fa-arrow-up",tabindex="0",title="Move up",data-bind="cmd:cmdUp")
        li
          a(class="btn fa fa-arrow-down",tabindex="0",title="Move down",data-bind="cmd:cmdDown")

    td(class="content")
      <!-- ko with:questionMeaningVM -->
      div(class="qm",data-bind="cmd:$parent.cmdEdit")
        span(class="name",data-bind="text:model.Name")
        div
          span(style="color:black;") Map Answer To Token:
          |&nbsp;
          span(data-bind="text:$parent.mapToTokenName")
        div
          span(style="color:black;") Condition:
          |&nbsp;
          span(data-bind="text:$parent.conditionText")
      <!-- /ko -->
      ul(class="sv tlist cf")
        li
          a(class="btn small add-btn",data-bind="cmd:topVm.cmdAddPossibleAnswer") Possible Answer
        <!-- ko foreach:possibleAnswerMaps -->
        li
          a(class="btn small",
            data-bind="cmd:cmdEdit,active:expands,css:{'fails':fails}")
            span(data-bind="text:possibleAnswer.AnswerText")
        <!-- /ko -->
      <!-- ko with:questionMeaningVM -->
      ul(class="sv tlist cf")
        li
          a(class="btn small add-btn",data-bind="cmd:$parent.topVm.cmdAddToken") Token
        <!-- ko foreach:tokenMaps -->
        li
          span(data-bind="text:'{'+$index()+'}'+token.Token")
          |&nbsp;&nbsp;
        <!-- /ko -->
      <!-- /ko -->
      <!-- ko foreach:translations -->
      div(class="translation",data-bind="active:show")
        div(data-bind="template:viewTmpl")
      <!-- /ko -->
  tr
    td
    td
      div(data-bind="foreach:questions")
        div(data-bind="template:viewTmpl")
  tr
    td
    td
      div(class="question-actions")
        ul(class="sv")
          li
            a(class="btn add-btn",
              data-bind="cmd:topVm.cmdAddQuestion,cssDisabled:!canAddSubQuestion(),attr:{title:canAddSubQuestion()?'add sub question':'add a possible answer first'}")
              span(data-bind="text:nextName")
