div(style="white-space:nowrap;",data-bind="foreach:questionPossibleAnswerMaps")
  a(class="btn small",tabindex="0",data-bind="click:$parent.clickAnswer,active:$parent.answer()===text,text:text")
  |&nbsp;
