<!-- ko if:active -->
div(class="panel")
  div(class="p-nav survey-types")
    <!-- ko foreach:surveyTypes -->
    div(class="survey-type")
      div(class="actions")
        a(class="btn small add-btn",data-bind="click:clickAddSurvey")
      h2(data-bind="text:model.Name")
    ul
      <!-- ko foreach:surveys -->
      li(data-bind="click:$parents[1].clickSurvey")
        a(data-bind="active:active,css:{'current':isCurrent}")
          span(data-bind="text:model.Version")
      <!-- /ko -->
      li
    <!-- /ko -->

  //- active type
  div(class="p-module",data-bind="with:activeChild")
    //- active survey
    div(data-bind="with:activeChild",style="height:100%")
      div(data-bind="template:viewTmpl",style="height:100%")

  div(class="layers", data-bind="template:{name:layersVm.viewTmpl,data:layersVm}")

div(data-bind="spinner:loading,spinner-rgb:'white'")
<!-- /ko -->
