div(data-bind="spinner:cmdAdd.busy,spinner-rgb:'white'")

h2(class="title") Survey Translation
ul(class="edit-form")
  li
    span(class="label") Localization Code
    input(type="text",placeholder="en-US",
      data-bind="hasfocus:focus,ukov:stData.LocalizationCode,value:stData.LocalizationCode,valueUpdate:'keyup'")

ul(class="actions")
  li
    a(class="btn",tabindex="0",data-bind="cmd:clickCancel") Cancel
  li
    a(class="btn",tabindex="0",data-bind="cmd:cmdAdd") Add Translation
