div(data-bind="if:cmdAdd.busy")
  div(class="spinner-wrap white", data-bind="template:'tmpl-spinner'")

div
  h2(class="title", data-bind="text:surveyTypeVM.model.Name")
  ul(class="edit-form")
    li
      span(class="label") Version
      input(type="text",placeholder="1.0.0",
        data-bind="ukov:sData.Version,value:sData.Version,valueUpdate:'keyup'")

ul(class="actions")
  li
    a(class="btn",tabindex="0",data-bind="cmd:clickCancel") Cancel
  li
    a(class="btn",tabindex="0",data-bind="cmd:cmdAdd") Add
