div(class="survey")
  div(class="head")
    ul(class="sv")
      li
        a(class="add-btn btn",data-bind="click:clickAddSurveyTranslation") Add
      <!-- ko foreach:translations -->
      li(data-bind="cmd:cmdToggle")
        a(class="btn",data-bind="active:active,busy:cmdToggle.busy")
          span(data-bind="text:model.LocalizationCode")
      <!-- /ko -->
    ul(class="sv",style="position:absolute;right:5px;top:5px;")
      li
        a(data-bind="click:clickTakeSurvey") Test Survey
      li(style="padding-left:5px;")
        div(style="min-width:70px;white-space:nowrap;",data-bind="cvm:takeVm.localeCvm")

  div(class="content")
    div(data-bind="foreach:questions")
      //- start question recursion
      div(data-bind="template:viewTmpl")

    div(class="question-actions")
      ul(class="sv")
        li
          a(class="btn add-btn",data-bind="click:clickAddQuestion")
            span(data-bind="text:nextName")

  div(class="layers", data-bind="template:{name:layersVm.viewTmpl,data:layersVm}")

div(data-bind="if:loading")
  div(class="spinner-wrap white", data-bind="template:'tmpl-spinner'")
