table(class="question takequestion",data-bind="toggle:{'complete':isComplete}")
  tr(data-bind="css:{'fails':fails}")
    td(class="title")
      h2(data-bind="text:name")
    td(class="content")
      div(class="md-html",data-bind="html:html")
    td(class="answers")
      div(data-bind="template:{name:answer.questionanswer.viewTmpl}")

  tr(data-bind="visible:showSubs")
    td
    td(colspan="2")
      div(data-bind="foreach:questions")
        //- begin question recursion
        div(class="relative",data-bind="template:'tmpl-takequestion'")
