div
  h2(class="title") Take Survey Translation
  ul(class="edit-form")
    li
      span(class="label") Localization Code
      div(data-bind="cvm:localeCvm")

ul(class="actions")
  li
    a(class="btn",tabindex="0",data-bind="cmd:clickCancel") Cancel
  li
    a(class="btn",tabindex="0",data-bind="cmd:clickTake") Take
