table(class="fh-wrap")
  tr
    td(class="fh-header",data-bind="with:contextEditorVm")
      div(class="md-editor",style="padding-bottom:30px;")
        //- 'input' updates textarea whenever the value changes (e.g.:paste,drop,etc.)
        textarea(data-bind="ukov:contextStr,value:contextStr,valueUpdate:'input'",spellcheck="false")
        div(class="btn",tabindex="0",data-bind="cmd:cmdReset") Reset Data
        div(class="btn",tabindex="0",data-bind="cmd:cmdReload") Reload Survey
  tr
    td(class="fh-body")
      div(class="fh-contents")
        div(data-bind="with:survey")
          div(data-bind="text:version")
          div(data-bind="text:locale")
          div(data-bind="foreach:questions")
            //- start question recursion
            div(class="relative",data-bind="template:'tmpl-takequestion'")

          //-FOR TESTING
          //- div(data-bind="if:ukovModel.isValid")
          //-   pre(data-bind="text:require('src/core/jsonhelpers').stringify(ukovModel.getValue(false,true),2)")

        div(style="padding-top:30px;padding-bottom:30px;",data-bind="if:showSave")
          div(class="btn",tabindex="0",data-bind="cmd:cmdSaveSurvey") Save

div(data-bind="if:active()&&!loaded()")
  div(class="spinner-wrap white", data-bind="template:'tmpl-spinner'")
