#tmpl-salesinfo-v01-salesinfo
  include ./v01/salesinfo.jade
#tmpl-salesinfo-v01-parts_editor
  include ./v01/parts.editor.jade

#tmpl-salesinfo-v02-salesinfo
  include ./v02/salesinfo.jade
#tmpl-salesinfo-v02-invoiceitems_editor
  include ./v02/invoiceitems.editor.jade

