script(id="tmpl-salesinfo-v01-salesinfo",type="text/html")
  include ./v01/salesinfo.jade
script(id="tmpl-salesinfo-v01-parts_editor",type="text/html")
  include ./v01/parts.editor.jade

script(id="tmpl-salesinfo-v02-salesinfo",type="text/html")
  include ./v02/salesinfo.jade
script(id="tmpl-salesinfo-v02-invoiceitems_editor",type="text/html")
  include ./v02/invoiceitems.editor.jade

