.sales-info {
  // ** Properties
  background-color: #2a7ddc;
  display: inline-block;
  width: 100%;

  // ** Inner elements
  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }
  div.ssiVars {
    // ** Properties
    float: left;
    padding-right: 5px;
    width: 35%;

    // ** Inner Elements
    div.title {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
    table.tblVars {
      // ** Properties
      width: 100%;

      // ** Inner Elements
      td{
        color: white;
      }
      td.subHeader {
        font-weight: bold;
        padding: 5px 0;
      }
      table.tblEqpmt {
        // ** Properties
        width: 100%;
        border: 1px solid white;

        // ** Inner Elements
        tr.trEqpmtHdr {
          background-color: gray;
        }
        th.thEqpmtHdr {
          font-weight: bold;
          padding: 0 5px;
          border-right: 1px solid white;
          border-bottom: 1px solid white;
        }
        td.tdEqpmt {
          padding: 0 5px;
          border-right: 1px solid white;
          border-bottom: 1px solid white;

          // ** Inner Elements
          a{
            color: white;
            text-decoration: none;
          }
        }

        tr.trEqpmt,
        tr.trEqpmtAlt {
          background-color: blue;
        }
        tr.trEqpmtAlt {
          background-color: rgba(0, 0, 255, 0.12);
        }
      }
    }
  }
  div.ssiInvoice {
    // Style
    float: left;
    //background-color: #00FF00;
    padding: 0 10px;
    width: 65%;
    min-height: 500px;

    // ** Inner Elements
    div.title {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
    div.ssiAddEqpmt {
      background-color: #0E4B8F;
      display: inline-block;
      padding: 3px;
      &:hover { background-color: #4170A5; }

      a {
        color: white;
        text-decoration: none;
      }
    }
    table.tblInvoice {
      // ** Properties
      border: 1px solid white;
      background: #fff;
      width: 100%;

      // ** Inner Elements
      td,
      th{
        color: white;
      }
      tr.trInvoiceHdr {
        background-color: #0E4B8F;
        height: 24px;

        th.thInvoice {
          font-weight: bold;
          padding: 0 5px;
          border-right: 1px solid white;
          border-bottom: 1px solid white;
        }
      }
      tr.trInvoice,
      tr.trInvoiceAlt {
        background-color: #84B6EE;
      }
      tr.trInvoiceFtr {
        background-color: #0E4B8F;
      }
      tr.trInvoiceAlt {
        background-color: #5DA1EE;
      }
      td.tdInvoiceFtr,
      td.tdInvoice,
      td.tdInvoiceAlt {
        padding: 0 5px;
        border-right: 1px solid white;
        border-bottom: 1px solid white;

        // ** Inner elements
        a{
          color: white;
          text-decoration: none;

          &:hover {
            font-weight: bold;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
