.sales-info {
  div.ssiVars {
    float: left;
      // position:absolute;
      // top:0;width:515px;bottom:0;left:0;
    width: 35%;
  }
  div.ssiInvoice {
    // Style
    float: left;
    background-color: #00FF00;
    padding: 0 10px;
    width: 65%;
    min-height: 500px;
    /*position:absolute;
    top:0;right:0;bottom:0;left:515px;*/

    // Inner Elements
    table.tblInvoice {
      background: #ff0000;
      width: 100%;
    }
  }
}
