div(class="acct-item v02-sales-info")
  div(data-bind="spinner:busy,spinner-rgb:'white'")

  div(class="ssiVars")
    table(class="fh-wrap")
      tr
        td(class="fh-header")
          div(class="title") Sales Information (v02)
          div(class="edit-form")

            //- div(class="line")
            //-   div(class="letter",data-bind="text:num()")
            //-   div(class="question") Is this a new install or a takeover?
            //-   //- div(class="question")
            //-   //-   |Is this a&nbsp;
            //-   //-   span(data-bind="text:data.DefaultInstallationType")
            //-   //-   |?
            //-   div(class="answer")
            //-     div(data-bind="cvm:data.IsTakeOverCvm")
            div(class="line")
              div(class="letter",data-bind="text:num(1)")
              div(class="question") System Type
              div(class="answer")
                div(data-bind="cvm:salesinfo.AccountCreationTypeCvm")
            <!-- ko if:salesinfo.showExistingEquipment -->
            div(class="line acct-equipment",data-bind="with:equipmentVm")
              ul(class="actions left cf")
                li
                  a(class="btn small add-btn",tabindex="0",data-bind="cmd:cmdAddExistingEquipment") Add Existing Equipment
              div(class="grid-wrap rv")
                div(class="slickgrid",data-bind="slickgrid:gvm")
            <!-- /ko -->

            div(class="line")
              div(class="letter",data-bind="text:num()")
              div(class="question") Package
              div(class="answer")
                div(data-bind="cvm:salesinfo.AccountPackageCvm")

            div(class="line")
              div(class="letter",data-bind="text:num()")
              div(class="question") Contract Length
              div(class="answer")
                div(data-bind="cvm:contract.ContractTemplateCvm")

            div(class="line")
              div(class="letter",data-bind="text:num()")
              div(class="question") RMR
              div(class="answer")
                input(type="text",class="inputField",
                  data-bind="ukov:invoice.rmr.fee,likecurrencyvalue:invoice.rmr.fee")

            div(class="line")
              div(class="letter",data-bind="text:num()")
              div(class="question") Activation Fee
              div(class="answer credit",data-bind="crg:lockActivationFee()&&creditGroup(),attr:{title:creditGroup()}")
                input(type="text",class="inputField",
                  data-bind="ukov:invoice.activation.fee,likecurrencyvalue:invoice.activation.fee")

            div(class="line")
              div(class="letter",data-bind="text:num()")
              div(class="question") Activation Paid Over
              div(class="answer")
                div(data-bind="cvm:invoice.activation.over3MonthsCvm")

            div(class="line")
              div(class="letter",data-bind="text:num()")
              div(class="question") Billing method
              div(class="answer")
                div(data-bind="cvm:salesinfo.PaymentTypeCvm")

            div(class="line")
              div(class="letter",data-bind="text:num()")
              div(class="question") Billing Day of Month
              div(class="answer")
                div(data-bind="cvm:salesinfo.BillingDayCvm")

            div(class="line")
              div(class="letter",data-bind="text:num()")
              div(class="question") What is your email address?
              div(class="answer")
                input(type="text",class="inputField",
                  data-bind="ukov:salesinfo.Email,value:salesinfo.Email")

            //- div(class="line")
            //-   div(class="letter",data-bind="text:num()")
            //-   div(class="question") Will there be any upgrades to the package?
            //-   div(class="answer")
            //-     //- div(data-bind="cvm:salesinfo.HasPackageUpgradesCvm")
            //-     div(data-bind="cvm:invoice.upgrades.hasItemCvm")
            //- div(class="subline",data-bind="if:invoice.upgrades.hasItem")
            //-   div(class="line")
            //-     div(class="letter",data-bind="text:subnum()")
            //-     div(class="question") Upgrades fee
            //-     div(class="answer")
            //-       input(type="text",class="inputField",
            //-         data-bind="ukov:invoice.upgrades.fee,likecurrencyvalue:invoice.upgrades.fee")
            //-   div(class="line")
            //-     div(class="letter",data-bind="text:subnum()")
            //-     div(class="question") Upgrades paid over
            //-     div(class="answer")
            //-       div(data-bind="cvm:invoice.upgrades.over3MonthsCvm")






            //- div(class="subHeader") ?????
            //- div(class="line")
            //-   div(class="letter",data-bind="text:num()")
            //-   div(class="question") What type of panel will be installed?
            //-   div(class="answer")
            //-     div(data-bind="cvm:data.PanelTypeCvm")
            //- div(class="subline")
            //-   div(class="line",data-bind="visible:data.IsTakeOver")
            //-     div(class="letter",data-bind="text:subnum()")
            //-     div(class="question") Who is currently monitoring the account?
            //-     div(class="answer")
            //-       div(data-bind="cvm:data.IsMoniCvm")

            //- //- div(class="subHeader") Equipment
            //- div(class="line")
            //-   div(class="letter",data-bind="text:num()")
            //-   div(class="question noanswer") What Equipment did you give the customer?

            div(class="subHeader") Frequently Installed Equipment
      tr
        td(class="fh-body")
          div(class="fh-contents")
            div(class="slickgrid",data-bind="slickgrid:frequentGvm")

  div(class="ssiInvoice")
    table(class="fh-wrap")
      tr
        td(class="fh-header")
          div(class="title") Inventory
          ul(class="actions")
            li
              a(class="btn small",tabindex="0",data-bind="cmd:cmdAddPart") Add Part
      tr
        td(class="fh-body")
          div(class="fh-contents",data-bind="with:invoiceGvm")
            div(class="slickgrid",
              data-bind="slickgrid:$data")
            div(class="points")
              div
                div(class="name") Points Given:
                div(class="value",data-bind="likecurrencytext:pointsGiven")
              div
                div(class="name") Points Banked:
                div(class="value",data-bind="likecurrencytext:pointsAvailable")
            div(class="totals")
              div
                div(class="name") Retail:
                div(class="value",data-bind="currencytext:retailTotal")
              div
                div(class="name") Points:
                div(class="value",data-bind="currencytext:pointsTotal")
              div
                div(class="name") Total:
                div(class="value total",data-bind="currencytext:estimateTotal")
