div(class="notice-wrapper", data-bind="foreach:list")
  div(data-bind="notice:$data", class="notice-item-wrapper")
    div(class="notice-item")
      span(data-bind="attr:{'class':'ico '+type}")
      div(class="content")
        //- span(class="title", data-bind="text:title")
        span(class="msg", data-bind="text:message")
      div(class="actions", data-bind="foreach:actions")
        a(data-bind="text:name,click:action")
