div(class="info repinfo")
  div(class="img-wrap")
    div(class="img", data-bind="bgimg:img")
  //- div(class="name", data-bind="text:SalesRepID")
  div(class="name", data-bind="text:fullname")
  div(class="season", data-bind="text:season")
  div(class="office", data-bind="text:office")
  div(class="phone mobile", data-bind="text:phone")
  div(class="email", data-bind="text:email")
