!!! HTML5
html
  head
    title Jasmine Spec Runner
    link(rel="stylesheet", type="text/css", href="/js-specs/lib/jasmine.css")
    script(src="/js-specs/lib/phantom-polyfill.js")
    script(src="/js-specs/lib/jasmine.js")
    script(src="/js-specs/lib/jasmine-html.js")
    script(src="/js-specs/lib/reporter.js")
  body
    script(src="/js/depends.conf.js")
    script(src="/js/lib/depends.js")

    script
      require('spec/index');
