script(id="tmpl-scheduler-panel",type="text/html")
  include ./scheduler.panel.jade
script(id="tmpl-scheduler-appt-editor",type="text/html")
  include ./appt.editor.jade
script(id="tmpl-scheduler-schedule",type="text/html")
  include ./schedule.jade
script(id="tmpl-scheduler-scheduleticket",type="text/html")
  include ./scheduleticket.jade

script(id="tmpl-scheduler-month",type="text/html")
  include ./month.jade

script(id="tmpl-scheduler-tech_setup",type="text/html")
  include ./tech.setup.jade
script(id="tmpl-scheduler-techs",type="text/html")
  include ./techs.jade
script(id="tmpl-scheduler-techschedule_editor",type="text/html")
  include ./techschedule.editor.jade
script(id="tmpl-scheduler-techschedule",type="text/html")
  include ./techschedule.jade
script(id="tmpl-scheduler-techskills_editor",type="text/html")
  include ./techskills.editor.jade
script(id="tmpl-scheduler-techskills",type="text/html")
  include ./techskills.jade

script(id="tmpl-scheduler-tech_tickets",type="text/html")
  include ./tech.tickets.jade

script(id="tmpl-scheduler-account_service_tickets",type="text/html")
  include ./account.service.tickets.jade
script(id="tmpl-scheduler-service_tickets",type="text/html")
  include ./service.tickets.jade
script(id="tmpl-scheduler-ticket_editor",type="text/html")
  include ./ticket.editor.jade
script(id="tmpl-scheduler-ticket_close",type="text/html")
  include ./ticket.close.jade


script(id="tmpl-scheduler-calboard",type="text/html")
  include ./calboard.jade
script(id="tmpl-scheduler-calitem",type="text/html")
  include ./calitem.jade
script(id="tmpl-scheduler-calitem_gone",type="text/html")
  include ./calitem.gone.jade
