@scheduler-bg: @site-maroon;

.ticket-editor {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .notes {
    white-space: pre-wrap;
    max-height: 110px;
    overflow: auto;
    display: block;
  }
  .dock {
    // bottom: 40px;
    .dock-left {
      .box-shadow(none);
    }
    .dock-content {
      color: inherit;
      margin-left: 10px;
      overflow: hidden;
    }
  }

  .cust-info {
    font-weight: 500;
    margin-bottom: 5px;
  }
}

.service-tickets {
  background-color: #fff;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;

  ul.actions.left {
    padding: 10px 0px 0px 7px;
    li {
      padding: 0;
    }
  }

  .grid-wrap {
    .slickgrid {
      top: 35px;
      right: 10px;
      bottom: 10px;
      left: 10px;
    }
  }
}

.scheduler {
  height: 100%;
  body& {
    .mixin-body-color(@scheduler-bg);
    .mixin-content-active(@scheduler-bg);
  }

  .btn {
    .make-color-btn(@scheduler-bg);
  }

  .techs {
    padding: 10px;
    .tech-cvm {
      max-width: 500px;
    }

    .tech {
      color: #ffffff;
      &.dock-content {
        overflow: hidden;
      }
    }
  }
}


.board {
  @hourWidth: 50px;
  background-color: #ffffff;
  height: 100%;

  .grid {
    position: relative;
    &.header {
      width: ~"calc(100% - 16px);"; //@REVIEW: scrollbar width????
      height: 20px;
      overflow: hidden;

      .columns .column {
        text-align: center;
      }
    }
    &.body {
      width: 100%;
      height: ~"calc(100% - 20px);";
      overflow-y: scroll;
    }

    .rows {
      width: 100%;
      height: 100%;
      .user-select(none);

      .row {
        position: absolute;
        width: 100%;
        border-top: dotted 1px #ddd;
        border-bottom: dotted 1px #ddd;

        &.beginsHour {
          border-top: solid 1px #ddd;
        }

        .hour {
          display: block;
          width: @hourWidth - 5;
          text-align: right;
        }
      }
    }
    .columns {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: @hourWidth;
      text-align: left;

      .column {
        display: inline-block;
        position: absolute;
        height: 100%;
        border-left: solid 1px #ddd;
      }

      .gone,
      .appt {
        position: absolute;
        top: 0px;
        left: 0px;
        dl {
          height: 100%;
          overflow: auto;
        }
      }

      .gone {
        right: 0px;
        // background-color: rgba(0, 0, 0, 0.5);
        // background-color: #ddd;
        background-color: rgba(70, 70, 70, 0.7);

        > * {
          display: none;
        }
      }
      .appt {
        background-color: tint(@scheduler-bg, 80%);
        &.editable {
          cursor: pointer;
          background-color: tint(@scheduler-bg, 50%);
        }
        right: 1px;
        .border-radius(3px);
        padding: 2px;

        > * {
          text-overflow: ellipsis;
        }

        .resizer {
          display: none;

          position: absolute;
          left: 0px;
          right: 0px;
          bottom: 0px;
          text-align: center;
          color: black;
          cursor: ns-resize;
          height: 8px;
          line-height: 8px;
        }
        &.active {
          .box-shadow(inset 0 0 5px 0px rgba(0,0,0,0.7));
          .resizer {
            display: block;
          }
        }

        &.dragging {
          z-index: 10;
        }
      }
    }
  }
}

.tech-schedule {
  margin: 10px;

  ul.edit-form {
    white-space: nowrap;

    > li {
      display: inline-block;
      width: 120px !important;
      margin-right: 5px;

      &:not(.label) span {
        display: block;
        padding: 8px 0px 3px 0px;
      }
    }
  }
}
.tech-skills {
  margin: 10px;

  ol li.skill {
    display: inline-block;
    @skillWidth: 200px;
    width: @skillWidth;

    a {
      position: relative;
    }

    span {
      width: @skillWidth - 35px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;

      line-height: 22px;
      vertical-align: middle;
    }
  }
}

.month-title {
  .user-select(none);
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  width: 100%;
  min-width: 230px;
}
.month {
  .user-select(none);

  .title {
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    width: 100%;
    min-width: 230px;
  }

  // height: 200px;
  width: 100%;
  min-width: 230px;
  // border: 1px solid white;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);

  .controls {
    height: 25px;
    overflow: hidden;
    &.padtop {
      height: 28px;
      padding-top: 3px;
    }

    .left,
    .right {
      .txt {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 25px;
        min-width: 70px;
      }
    }

    .left {
      float: left;
      // .txt {
      //   min-width: 70px;
      // }
    }
    .right {
      float: right;
      // .txt {
      //   min-width: 35px;
      // }
    }
  }

  ol.days {

    li.weekDay,
    li.day {
      display: inline-block;
      width: ~"calc(100% / 7)";
      height: 20px;
      text-align: center;
    }

    li.weekDay {
      background-color: rgba(255, 255, 255, 0.1);
    }

    li.day {
      cursor: pointer;

      &.selected,
      &:hover {
        .box-shadow(inset 0 0 1px 1px #FFF);
      }
      &.today {
        background-color: rgba(255, 255, 255, 0.3);
      }
      &.outOfMonth {
        color: #999;
      }
    }
  }
}
