#tmpl-scheduler-panel
  include ./scheduler.panel.jade
#tmpl-scheduler-appt-editor
  include ./appt.editor.jade
#tmpl-scheduler-schedule
  include ./schedule.jade
#tmpl-scheduler-scheduleticket
  include ./scheduleticket.jade

#tmpl-scheduler-month
  include ./month.jade

#tmpl-scheduler-tech
  include ./tech.jade
#tmpl-scheduler-techs
  include ./techs.jade
#tmpl-scheduler-techschedule_editor
  include ./techschedule.editor.jade
#tmpl-scheduler-techschedule
  include ./techschedule.jade
#tmpl-scheduler-techskills_editor
  include ./techskills.editor.jade
#tmpl-scheduler-techskills
  include ./techskills.jade

#tmpl-scheduler-account-service-tickets
  include ./account.service.tickets.jade
#tmpl-scheduler-ticket-editor
  include ./ticket.editor.jade


#tmpl-scheduler-dayboard
  include ./dayboard.jade
