#tmpl-scheduler-panel
  include ./scheduler.panel.jade
#tmpl-scheduler-appt-editor
  include ./appt.editor.jade
#tmpl-scheduler-scheduleday
  include ./scheduleday.jade

#tmpl-scheduler-month
  include ./month.jade

#tmpl-scheduler-tech
  include ./tech.jade
#tmpl-scheduler-techschedule_editor
  include ./techschedule.editor.jade
#tmpl-scheduler-techschedule
  include ./techschedule.jade
#tmpl-scheduler-techskills_editor
  include ./techskills.editor.jade
#tmpl-scheduler-techskills
  include ./techskills.jade
