#tmpl-scheduler-panel
  include ./scheduler.panel.jade
#tmpl-scheduler-appt-editor
  include ./appt.editor.jade
#tmpl-scheduler-scheduleday
  include ./scheduleday.jade

#tmpl-scheduler-month
  include ./month.jade
