.ticket-editor {
  .notes {
    white-space: pre-wrap;
    max-height: 200px;
    overflow: auto;
    display: block;
  }
}

.scheduler {
  @scheduler-bg: @site-maroon;
  body& {
    .mixin-body-color(@scheduler-bg);
    .mixin-content-active(@scheduler-bg);
  }

  .btn {
    .make-color-btn(@scheduler-bg);
  }

  .scheduleweek {
    @hourWidth: 50px;
    background-color: #ffffff;
    &.dock-content {
      overflow: hidden;
    }

    .week-tbl {
      position: relative;
      &.header {
        width: ~"calc(100% - 16px);"; //@REVIEW: scrollbar width????
        height: 20px;
        overflow: hidden;
        text-align: center;
      }
      &.body {
        width: 100%;
        height: ~"calc(100% - 20px);";
        overflow-y: scroll;
      }

      .rows {
        width: 100%;
        height: 100%;
        .user-select(none);

        .row {
          position: absolute;
          width: 100%;
          border-top: dotted 1px #ddd;
          border-bottom: dotted 1px #ddd;

          &.beginsHour {
            border-top: solid 1px #ddd;
          }

          .hour {
            display: block;
            width: @hourWidth - 5;
            text-align: right;
          }
        }
      }
      .columns {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: @hourWidth;

        .column {
          display: inline-block;
          position: relative;
          height: 100%;
          border-left: solid 1px #ddd;

          .gone,
          .appt {
            position: absolute;
            top: 0px;
            left: 0px;
            overflow: hidden;
          }

          .gone {
            right: 0px;
            // background-color: rgba(0, 0, 0, 0.5);
            // background-color: #ddd;
            background-color: rgba(70, 70, 70, 0.7);
          }
          dl.appt {
            cursor: pointer;
            right: 1px;
            background-color: tint(@scheduler-bg, 60%);
            .border-radius(3px);
            padding: 2px;

            > * {
              text-overflow: ellipsis;
            }

            .resizer {
              display: none;

              position: absolute;
              left: 0px;
              right: 0px;
              bottom: 0px;
              text-align: center;
              color: black;
              cursor: ns-resize;
              height: 8px;
              line-height: 8px;
            }
            &.active {
              .box-shadow(inset 0 0 5px 0px rgba(0,0,0,0.7));
              .resizer {
                display: block;
              }
            }

            &.dragging {
              z-index: 10;
            }
          }
        }
      }
    }
  }

  .tech {
    background-color: #ffffff;
    &.dock-content {
      overflow: hidden;
    }

    .schedule {
      margin: 10px;

      ul.edit-form > li {
        display: inline-block;
        width: 120px;
        margin-right: 5px;
      }
    }

    .skills {
      margin: 10px;

      ol li.skill {
        display: inline-block;
        width: 150px;
      }
    }
  }
}

.month-title {
  .user-select(none);
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
.month {
  .user-select(none);

  // height: 200px;
  width: 100%;
  // border: 1px solid white;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);

  .controls {
    height: 25px;

    .mnth,
    .year {
      .txt {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 25px;
      }
    }

    .mnth {
      float: left;
      .txt {
        min-width: 70px;
      }
    }
    .year {
      float: right;
      .txt {
        min-width: 35px;
      }
    }
  }

  ol.days {

    li.weekDay,
    li.day {
      display: inline-block;
      width: ~"calc(100% / 7)";
      height: 20px;
      text-align: center;
    }

    li.weekDay {
      background-color: rgba(255, 255, 255, 0.1);
    }

    li.day {
      cursor: pointer;

      &.selected,
      &:hover {
        .box-shadow(inset 0 0 1px 1px #FFF);
      }
      &.today {
        background-color: rgba(255, 255, 255, 0.3);
      }
      &.outOfMonth {
        color: #999;
      }
    }
  }
}
