div(class="board")
  div(data-bind="spinner:busy,spinner-rgb:'black'")
  div(class="grid header")
    div(class="columns",data-bind="foreach:columns")
      div(class="column",data-bind="position:position,width:board.columnWidth,text:Title")
  div(class="grid body",data-bind="calboard:$data")
    div(class="rows",data-bind="foreach:halfHourRows,height:totalHeight")
      div(class="row",data-bind="position:position,height:height,toggle:{beginsHour:beginsHour}")
        span(class="hour",data-bind="text:$parent.getTime(index)")
    div(class="columns",data-bind="height:totalHeight")
      //- add columns
      <!-- ko foreach:columns -->
      div(class="column",data-bind="position:position,width:board.columnWidth")
      <!-- /ko -->
      //- add items
      <!-- ko template:{foreach:items,name:getChildTemplate} -->
      <!-- /ko -->
