//- div(class="month-title",data-bind="text:dateText")
div(class="month")
  div(class="controls padtop")
    div(class="left")
      span(class="btn small",data-bind="cmd:clickPrevDay") Prev Day
    div(class="right")
      span(class="btn small",data-bind="cmd:clickNextDay") Next Day
    div(class="middle title",data-bind="text:dateText")
  div(class="controls")
    div(class="left")
      span(class="btn small fa fa-caret-left",data-bind="cmd:clickMonthUp")
      span(class="txt",data-bind="text:monthName")
      span(class="btn small fa fa-caret-right",data-bind="cmd:clickMonthDown")
    div(class="right")
      span(class="btn small fa fa-caret-left",data-bind="cmd:clickYearUp")
      span(class="txt",data-bind="text:year")
      span(class="btn small fa fa-caret-right",data-bind="cmd:clickYearDown")
  ol(class="days",data-bind="foreach:weekdays")
    li(class="weekDay",data-bind="")
      span(class="",data-bind="text:day")
  ol(class="days",data-bind="foreach:days")
    li(class="day",data-bind="cmd:$parent.clickDate,toggle:{selected:selected,outOfMonth:!inMonth(),today:today}")
      span(class="num",data-bind="text:date,fadein:date")
