div(data-bind="template:{name:board.viewTmpl,data:board}")

//- div(class="schedule")
  div(data-bind="spinner:busy,spinner-rgb:'black'")
  div(class="week-tbl header")
    div(class="columns",data-bind="foreach:columns")
      div(class="column",data-bind="width:$parent.columnWidth,text:tech.FullName")
  div(class="week-tbl body")
    div(data-bind="template:{name:board.viewTmpl,data:board}")
    div(class="columns",data-bind="dayboard:board,foreach:columns,height:board.totalHeight")
      div(class="column",data-bind="width:$parent.columnWidth,foreach:items")
        dl(data-bind="css:css,position:position,height:height,active:selected,toggle:{editable:editable}")
          dt(data-bind="text:timespan")
          dd Description goes here...
          div(class="resizer") =
