div(class="dock l3-250 l-show",data-bind="")

  div(class="scheduleweek dock-content")
    div(data-bind="spinner:busy,spinner-rgb:'black'")
    div(class="week-tbl header")
      div(class="columns",data-bind="foreach:columns")
        div(class="column",data-bind="width:$parent.columnWidth,text:tech.name")
    div(class="week-tbl body")
      div(class="rows",data-bind="foreach:halfHourRows,height:totalHeight")
        div(class="row",
          data-bind="position:position,height:height,toggle:{beginsHour:beginsHour}")
          span(class="hour",data-bind="text:$parent.getTime(index)")

      div(class="columns",data-bind="day:true,foreach:columns,height:totalHeight")
        div(class="column",data-bind="swcol:$data,width:$parent.columnWidth")
          <!-- ko foreach:gones -->
          div(class="gone",data-bind="position:position,height:height")
          <!-- /ko -->
          <!-- ko foreach:appts -->
          dl(class="appt",data-bind="position:position,height:height,active:selected")
            dt(data-bind="text:timespan")
            dd Descriptions of appointment goes here. Descriptions of appointment goes here. Descriptions of appointment goes here.
            div(class="resizer") =
          <!-- /ko -->

  div(class="dock-left")
    <!-- ko if:editorVm -->
    div(data-bind="template:{name:editorVm().viewTmpl,data:editorVm()}",style="margin:10px")
    <!-- /ko -->
    <!-- ko if:!editorVm() -->
    div(data-bind="template:{name:monthVm.viewTmpl,data:monthVm}",style="margin:0px 10px 10px 10px;")
    <!-- /ko -->
