div(class="scheduleweek")
  div(class="week-tbl header")
    div(class="columns",data-bind="foreach:columns")
      div(class="column",data-bind="width:$parent.columnWidth,text:tech.name")
  div(class="week-tbl")
    div(class="rows",data-bind="foreach:rows,height:totalHeight")
      div(class="row",
        data-bind="position:position,height:height,toggle:{beginsHour:beginsHour}")
        span(class="hour",data-bind="text:$parent.getTime(index)")

    div(class="columns",data-bind="foreach:columns,height:totalHeight")
      div(class="column",data-bind="swcol:$data,width:$parent.columnWidth")
        <!-- ko foreach:gones -->
        div(class="gone",data-bind="position:position,height:height")
        <!-- /ko -->
        <!-- ko foreach:appts -->
        dl(class="appt",data-bind="position:position,height:height")
          dt Appt #1
          dd Descriptions of Appt #1 goes here. Descriptions of Appt #1 goes here. Descriptions of Appt #1 goes here.
          div(class="resizer")
        <!-- /ko -->
