div(class="service-tickets")
  ul(class="actions left")
    li
      a(class="btn small add-btn",tabindex="0",data-bind="cmd:cmdRefreshGrid") Refresh Grid
  div(class="grid-wrap")
    div(class="slickgrid",data-bind="slickgrid:gvm")

