div(class="dock l3-250",data-bind="")
  div(class="tech dock-content")
    <!-- ko if:scheduleVm -->
    div(data-bind="template:{name:scheduleVm().viewTmpl+'_editor',data:scheduleVm()}")
    <!-- /ko -->
    <!-- ko if:skillsVm -->
    div(data-bind="template:{name:skillsVm().viewTmpl+'_editor',data:skillsVm()}")
    <!-- /ko -->
    <!-- ko if:scheduleVm -->
    div(data-bind="template:{name:scheduleVm().viewTmpl,data:scheduleVm()}",
      style="color:#b03060;")
    <!-- /ko -->
    <!-- ko if:skillsVm -->
    div(data-bind="template:{name:skillsVm().viewTmpl,data:skillsVm()}")
    <!-- /ko -->
