div(class="section",data-bind="with:scheduleVm")
  //- span(class="title") Schedule
  h2(class="title") Schedule
  div(class="contents")
    div(data-bind="template:{name:viewTmpl}")
div(class="section",data-bind="with:skillsVm")
  //- span(class="title") Skill Level &amp; Competancy
  h2(class="title") Skill Level &amp; Competancy
  div(class="contents")
    div(data-bind="template:{name:viewTmpl}")
