div(class="ticket-editor")
  div(data-bind="spinner:busy,spinner-rgb:'white'")

  div(class="dock l3-350 l-show")
    div(class="dock-left")
      div(class="cust-info",data-bind="with:data.model")
        div(class="id")
          span Ticket #
          span(data-bind="text:$parent.data.ID")
        div(class="id")
          span CMFID:
          |&nbsp;
          span(data-bind="text:CustomerMasterFileId")
        div(class="name",data-bind="formatCustomerName:$data")
        div(class="address",data-bind="text:StreetAddress")
        div(class="address",data-bind="text:StreetAddress2")
        div(class="address")
          span(data-bind="text:City")
          |,&nbsp;
          span(data-bind="text:StateId")
          |&nbsp;
          span(data-bind="text:PostalCode")
      ul(class="edit-form")
        li
          span(class="label") Service Type
          div(data-bind="cvm:data.serviceTypeCvm")
        li
          span(class="label") Ticket pertains to
          div(class="max-w160",data-bind="msvm:skillsMsvm")
        li
          span(class="label") General Notes
          span(class="notes",data-bind="text:data.Notes")
          <!-- ko if:showNotesInput -->
          textarea(rows="5" data-bind="ukov:note,value:note,valueUpdate:'keyup'")
          <!-- /ko -->
        li
          span(class="label") Monitoring Station Ticket#
          input(type="text" data-bind="ukov:data.MSTicketNum,value:data.MSTicketNum,valueUpdate:'keyup'")
      <!-- ko if:showAppt -->
      ul(class="edit-form line-top")
        li
          span(class="label") Tech
          div(data-bind="cvm:data.techCvm")
        li
          <!-- ko if:data.AppointmentId -->
          span(class="label") Appointment Date
          span(class="value",data-bind="text:scheduleVm.monthVm.dateText")
          <!-- /ko -->
          <!-- ko if:!data.AppointmentId() -->
          div(data-bind="template:{name:scheduleVm.monthVm.viewTmpl,data:scheduleVm.monthVm}")
          <!-- /ko -->
        li
          span(class="label") Start Time
          input(type="text",data-bind="ukov:data.StartOn,timevalue:data.StartOn,valueUpdate:'keyup'")
        li
          span(class="label") End Time
          input(type="text",data-bind="ukov:data.EndOn,timevalue:data.EndOn,valueUpdate:'keyup'")
      <!-- /ko -->
      ul(class="actions")
        li
          a(class="btn",tabindex="0",data-bind="cmd:clickCancel") Cancel
        li
          a(class="btn",tabindex="0",data-bind="cmd:cmdSave") Save
      <!-- ko if:!showAppt() -->
      ul(class="actions")
        li
          a(class="btn",tabindex="0",data-bind="cmd:cmdSchedule") Show Schedule
      <!-- /ko -->

    <!-- ko if:showAppt -->
    div(class="dock-content",data-bind="template:{name:'tmpl-scheduler-schedule',data:scheduleVm}")
    <!-- /ko -->
