!!! HTML5
html
  head
    title Jasmine Spec Runner
    link(rel="stylesheet", type="text/css", href="/tparty/jasmine/jasmine.css")
    script(src="/tparty/jasmine/jasmine.js")
    script(src="/tparty/jasmine/jasmine-html.js")
    script(src="/tparty/jasmine/reporter.js")
  body
    script(src="/depends.conf.js")
    if release
      script(src="/lib.js")
      script(src="/app.js")
      script(src="/spec.js")
    else
      script(src="/tparty/depends.js")
      script(src="/spec/index.js")

