script(id="tmpl-reports-panel",type="text/html")
  include ./salesreports.panel.jade

script(id="tmpl-salesreports-credits_and_installs_report",type="text/html")
  include ./credits.and.installs.report.jade
