script(id="tmpl-reports-panel",type="text/html")
  include ./salesreports.panel.jade

script(id="tmpl-salesreports-credits_and_installs_report",type="text/html")
  include ./credits.and.installs.report.jade

script(id="tmpl-salesreports-rankings-report",type="text/html")
  include ./rankings.report.jade

script(id="tmpl-salesreports-myaccounts-report",type="text/html")
  include ./myaccounts.report.jade

script(id="tmpl-performance-report",type="text/html")
  include ./performance.report.jade

script(id="tmpl-accountholds-report",type="text/html")
  include ./accountholds.report.jade

 script(id="tmpl-pendinginstalls-report",type="text/html")
  include ./pendinginstalls.report.jade
