h1 Account Holds
div(class="filters")
  div
    //- div(data-bind="cvm:data.SalesRepsCvm",style="width: 433px;display:inline-block;margin-bottom: 7px;")
    //- div(style="display: inline-block;height: 31px;padding-top: 7px;float: left;padding-right: 39px;") Sales Rep&nbsp;
    //- br
    |Show report for&nbsp;
    input(type="text",data-bind="ukov:data.startDate,datevalue:data.startDate,valueUpdate:'blur'")
    |&nbsp;to&nbsp;
    input(type="text",data-bind="ukov:data.endDate,datevalue:data.endDate,valueUpdate:'blur'")

    div(class="inline")
      button(data-bind="cmd:cmdGo") Go

    div(class="separated")
      input(id="filterThisWeek",type="radio", value="thisWeek", data-bind="checked:filterRange")
      label(for="filterThisWeek",class="filter-chkbx")
        //- div needed for check mark
        div
        |This Week
      input(id="filterToday",type="radio", value="today", data-bind="checked:filterRange")
      label(for="filterToday",class="filter-chkbx")
        //- div needed for check mark
        div
        |Today
      input(id="filterThisMonth",type="radio", value="thisMonth", data-bind="checked:filterRange")
      label(for="filterThisMonth",class="filter-chkbx")
        //- div needed for check mark
        div
        |This Month
      input(id="filterAllTime",type="radio", value="allTime", data-bind="checked:filterRange")
      label(for="filterAllTime",class="filter-chkbx")
        //- div needed for check mark
        div
        |All Time
div(class="report-data")
  table
    thead
      tr
        th(class="number") Customer Number
        th(class="number") System Number
        th Customer Name
        th Address
        th Hold Description
    tbody(data-bind="foreach:accounts")
      tr
        td(class="groupie number" data-bind="text:CustomerNumber")
        td(class="groupie number" data-bind="text:AccountId")
        td(class="groupie" data-bind="text:CustomerName")
        td(class="groupie" data-bind="text:StreetAddress")
        td(class="groupie" data-bind="text:HoldDescription")


