h1 Credits and installations
div(class="filters")
  div
    |Show report for&nbsp;
    input(type="text",data-bind="ukov:data.startDate,datevalue:data.startDate,valueUpdate:'blur'")
    |&nbsp;to&nbsp;
    input(type="text",data-bind="ukov:data.endDate,datevalue:data.endDate,valueUpdate:'blur'")
    div(class="inline")
      button(data-bind="cmd:cmdGo") Go

    div(class="separated")
      input(id="groupByOffice",type="checkbox",data-bind="checked:groupByOffice")
      label(for="groupByOffice")
        //- div needed for check mark
        div
        |Group by office

div(class="report-data",data-bind="if:salesReps()&&!groupByOffice()")
  table
    thead
      tr
        th Sales rep
        th Office
        th(class="number") Contacts made
        th(class="number") Credits run
        th(class="number") Installations
    tbody(data-bind="foreach:salesReps")
        td(data-bind="text:SalesRepName")
        td(data-bind="text:TeamLocation")
        td(class="number",data-bind="text:NumContacts")
        td(class="number",data-bind="text:NumCredits")
        td(class="number",data-bind="text:NumInstalls")

div(class="report-data",data-bind="if:officeData()&&groupByOffice()")
  table
    thead
      tr
        th Office
        th(class="number") Contacts made
        th(class="number") Credits run
        th(class="number") Installations
    <!-- ko foreach:officeData -->
    tbody
      tr(data-bind="cmd:function(){expanded(!expanded.peek());}")
        td(class="groupHeading",data-bind="text:TeamLocation")
        td(class="groupHeading number",data-bind="text:NumContacts")
        td(class="groupHeading number",data-bind="text:NumCredits")
        td(class="groupHeading number",data-bind="text:NumInstalls")
    tbody(data-bind="visible:expanded,foreach:salesReps")
      tr(data-bind="cmd:cmdFindAccounts")
        td(class="groupie",data-bind="text:SalesRepName")
        td(class="groupie number",data-bind="text:NumContacts")
        td(class="groupie number",data-bind="text:NumCredits")
        td(class="groupie number",data-bind="text:NumInstalls")
      tr(data-bind="visible:expanded")
        td(span="4")
          table
            thead
              tr
                th Customer #
                th Name
                th(class="number") Holds
                th(class="number") Setup Fee
                th(class="number") MMR
                th C Score
                th Account Status
                th Street Address
            tbody
              <!-- ko foreach:Accounts -->
              tr
                td(class="groupHeading number",data-bind="text:CMFID")
                td(class="groupHeading",data-bind="text:CustomerName")
                td(class="groupHeading number",data-bind="text:Holds")
                td(class="groupHeading number",data-bind="text:SetupFee")
                td(class="groupHeading number",data-bind="text:MMR")
                td(class="groupHeading",data-bind="text:Qualify")
                td(class="groupHeading",data-bind="text:Status")
                td(class="groupHeading",data-bind="text:StreetAddress")
              <!-- /ko -->
    <!-- /ko -->
