h1 My Accounts
div(class="filters")
  div
    div(data-bind="cvm:data.SalesRepsCvm",style="width: 433px;display:inline-block;margin-bottom: 7px;")
    div(style="display: inline-block;height: 31px;padding-top: 7px;float: left;padding-right: 39px;") Sales Rep&nbsp;
    br
    |Show report for&nbsp;
    input(type="text",data-bind="ukov:data.startDate,datevalue:data.startDate,valueUpdate:'blur'")
    |&nbsp;to&nbsp;
    input(type="text",data-bind="ukov:data.endDate,datevalue:data.endDate,valueUpdate:'blur'")

    div(class="inline")
      button(data-bind="cmd:cmdGo") Go

    div(class="separated")
      input(id="filterThisWeek",type="radio", value="thisWeek", data-bind="checked:filterRange")
      label(for="filterThisWeek",class="filter-chkbx")
        //- div needed for check mark
        div
        |This Week
      input(id="filterToday",type="radio", value="today", data-bind="checked:filterRange")
      label(for="filterToday",class="filter-chkbx")
        //- div needed for check mark
        div
        |Today
      input(id="filterlast30Days",type="radio", value="last30Days", data-bind="checked:filterRange")
      label(for="filterlast30Days",class="filter-chkbx")
        //- div needed for check mark
        div
        |Last 30 Days
      input(id="filterThisMonth",type="radio", value="thisMonth", data-bind="checked:filterRange")
      label(for="filterThisMonth",class="filter-chkbx")
        //- div needed for check mark
        div
        |This Month
      input(id="filterAllTime",type="radio", value="allTime", data-bind="checked:filterRange")
      label(for="filterAllTime",class="filter-chkbx")
        //- div needed for check mark
        div
        |All Time

div(class="report-data")
  table
    thead
      tr
        th Customer #
        th Office
        th Name
        th Address
        th Status
        th Date
        th Qualify
        th(class="number") Holds
        th(class="number") Setup Fee
        th(class="number") MMR
    tbody(data-bind="foreach:accounts")
      tr
        td(class="groupie" data-bind="text:CMFID")
        td(class="groupie" data-bind="text:OfficeName")
        td(class="groupie" data-bind="text:CustomerName")
        td(class="groupie" data-bind="text:StreetAddress")
        td(class="groupie" data-bind="text:Status")
        td(class="groupie" data-bind="datetext:Date")
        td(class="groupie" data-bind="text:Qualify")
        td(class="groupie number",data-bind="text:Holds")
        td(class="groupie number",data-bind="likecurrencytext:SetupFee")
        td(class="groupie number",data-bind="likecurrencytext:MMR")
