#tmpl-security-account_info
  include ./account.info.jade
#tmpl-security-account
  include ./account.jade
#tmpl-security-alarmdotcom_editor
  include ./alarmdotcom.editor.jade
#tmpl-security-alarmdotcom_swapmodem
  include ./alarmdotcom.swapmodem.jade
#tmpl-security-alarmdotcom
  include ./alarmdotcom.jade
#tmpl-security-alarmnet_editor
  include ./alarmnet.editor.jade
#tmpl-security-alarmnet
  include ./alarmnet.jade

#tmpl-security-checklist
  include ./checklist.jade
#tmpl-security-clist_emcontacts
  include ./clist.emcontacts.jade
#tmpl-security-clist_industrynums
  include ./clist.industrynums.jade
#tmpl-security-clist_initialpayment
  include ./clist.initialpayment.jade
#tmpl-security-clist_qualify
  include ./clist.qualify.jade
#tmpl-security-clist_registercell
  include ./clist.registercell.jade
#tmpl-security-clist_salesinfo
  include ./clist.salesinfo.jade
#tmpl-security-clist_submitonline
  include ./clist.submitonline.jade
#tmpl-security-clist_survey
  include ./clist.survey.jade
#tmpl-security-clist_systemdetails
  include ./clist.systemdetails.jade
#tmpl-security-clist_systemtest
  include ./clist.systemtest.jade

#tmpl-security-dispatchagency_editor
  include ./dispatchagency.editor.jade
#tmpl-security-dispatchagencys_finder
  include ./dispatchagencys.finder.jade
#tmpl-security-emcontacteditor
  include ./emcontacteditor.jade
#tmpl-security-emcontacts_ctxmenu
  include ./emcontacts.ctxmenu.jade
#tmpl-security-emcontacts
  include ./emcontacts.jade
#tmpl-security-equipment
  include ./equipment.jade
#tmpl-security-equipment_editor
  include ./equipment.editor.jade
#tmpl-security-existing_equipment_editor
  include ./existingequipment.editor.jade
#tmpl-security-parts_editor
  include ./parts.editor.jade
#tmpl-security-signalhistory
  include ./signalhistory.jade
#tmpl-security-summary
  include ./summary.jade
#tmpl-security-systemdetails_editor
  include ./systemdetails.editor.jade
#tmpl-security-service_ticket
  include ./service.ticket.jade
#tmpl-security-service_ticket_editor
  include ./ticket.editor.jade

#tmpl-security-telguard
  include ./telguard.jade
