script(id="tmpl-security-account_info",type="text/html")
  include ./account.info.jade
script(id="tmpl-security-account",type="text/html")
  include ./account.jade
script(id="tmpl-security-alarmdotcom_changeservicepackage",type="text/html")
  include ./alarmdotcom.changeservicepackage.jade
script(id="tmpl-security-alarmdotcom_editor",type="text/html")
  include ./alarmdotcom.editor.jade
script(id="tmpl-security-alarmdotcom_swapmodem",type="text/html")
  include ./alarmdotcom.swapmodem.jade
script(id="tmpl-security-alarmdotcom",type="text/html")
  include ./alarmdotcom.jade
script(id="tmpl-security-alarmnet_editor",type="text/html")
  include ./alarmnet.editor.jade
script(id="tmpl-security-alarmnet",type="text/html")
  include ./alarmnet.jade

script(id="tmpl-security-checklist",type="text/html")
  include ./checklist.jade
script(id="tmpl-security-clist_emcontacts",type="text/html")
  include ./clist.emcontacts.jade
script(id="tmpl-security-clist_industrynums",type="text/html")
  include ./clist.industrynums.jade
script(id="tmpl-security-clist_initialpayment",type="text/html")
  include ./clist.initialpayment.jade
script(id="tmpl-security-clist_qualify",type="text/html")
  include ./clist.qualify.jade
script(id="tmpl-security-clist_registercell",type="text/html")
  include ./clist.registercell.jade
script(id="tmpl-security-clist_salesinfo",type="text/html")
  include ./clist.salesinfo.jade
script(id="tmpl-security-clist_submitonline",type="text/html")
  include ./clist.submitonline.jade
script(id="tmpl-security-clist_survey",type="text/html")
  include ./clist.survey.jade
script(id="tmpl-security-clist_systemdetails",type="text/html")
  include ./clist.systemdetails.jade
script(id="tmpl-security-clist_systemtest",type="text/html")
  include ./clist.systemtest.jade

script(id="tmpl-security-dispatchagency_editor",type="text/html")
  include ./dispatchagency.editor.jade
script(id="tmpl-security-dispatchagencys_finder",type="text/html")
  include ./dispatchagencys.finder.jade
script(id="tmpl-security-emcontacteditor",type="text/html")
  include ./emcontacteditor.jade
script(id="tmpl-security-emcontacts_ctxmenu",type="text/html")
  include ./emcontacts.ctxmenu.jade
script(id="tmpl-security-emcontacts",type="text/html")
  include ./emcontacts.jade
script(id="tmpl-security-equipment",type="text/html")
  include ./equipment.jade
script(id="tmpl-security-equipment_editor",type="text/html")
  include ./equipment.editor.jade
script(id="tmpl-security-existing_equipment_editor",type="text/html")
  include ./existingequipment.editor.jade
script(id="tmpl-security-signalhistory",type="text/html")
  include ./signalhistory.jade
script(id="tmpl-security-summary",type="text/html")
  include ./summary.jade
script(id="tmpl-security-systemdetails_editor",type="text/html")
  include ./systemdetails.editor.jade

script(id="tmpl-security-holds",type="text/html")
  include ./holds.jade
script(id="tmpl-security-hold_new",type="text/html")
  include ./hold.new.jade
script(id="tmpl-security-hold_fix",type="text/html")
  include ./hold.fix.jade

script(id="tmpl-security-telguard",type="text/html")
  include ./telguard.jade
