table(class="fh-wrap")
  tr
    td(class="fh-header")
      ul(class="tabs cf")
        //-HACK to not be convered up by toggle-btn
        li(class="tab under-toggle-btn")
        <!-- ko foreach:childs -->
        li(class="tab",data-bind="active:active")
          a(data-bind="click:$parent.clickItem,text:title")
        <!-- /ko -->
  tr
    td(class="fh-body")
      div(class="fh-contents")
        <!-- ko foreach:childs -->
        <!-- ko if:active -->
        div(class="tab scrollable", data-bind="template:viewTmpl,active:active")
        <!-- /ko -->
        div(data-bind="spinner:active()&&!loaded(),spinner-rgb:'black'")
        <!-- /ko -->
