div(class="acct-checklist panel scrollable")
  div(class="p-nav checklist")
    h2 Account Setup Checklist
    ul(data-bind="foreach:checklist")
      li
        a(data-bind="click:$parent.clickItem,active:active,css:done")
          span(data-bind="text:title")
  div(class="p-module",data-bind="with:activeChild")
    div(data-bind="template:viewTmpl")

  div(class="layers", data-bind="template:{name:layersVm.viewTmpl,data:layersVm}")
