div(class="acct-item acct-clist-submitonline",data-bind="toggle:{'may-reload':mayReload}")

  ul(class="actions left cf")
    li
      a(class="btn small find-btn",tabindex="0",data-bind="cmd:cmdFind") Find Dispatch Agency
    li
      a(class="btn small add-btn",tabindex="0",data-bind="cmd:cmdAdd") Add New Dispatch Agency
    //- li
      a(class="btn small",tabindex="0",data-bind="cmd:cmd") Verify Agency

  div(class="grid-wrap")
    div(class="slickgrid",data-bind="slickgrid:gvm")

  div(class="actions",style="margin-top:20px;")
    ul
      li
        a(class="btn",tabindex="0",data-bind="cmd:cmdSubmit") Submit Online
  ul(style="margin-top:20px;",data-bind="with:submissionData")
    li
      span(data-bind="text:Msg")
    li
      |Submission ID:&nbsp;
      span(data-bind="text:AccountSubmitID")
    li(data-bind="if:WasSuccessfull")
      |Date:&nbsp;
      span(data-bind="datetimetext:DateSubmitted")


  div(data-bind="spinner:active()&&!loaded(),spinner-rgb:'black'")
