div(class="acct-item sales-info")
  div(class="ssiVars")
    table(class="fh-wrap")
      tr
        td(class="fh-header")
          div(class="title") Sales Information
          div(class="edit-form")
            //- div(class="subHeader") System Type Information
            //- div(class="line")
            //-   div(class="letter",data-bind="text:letter(1)")
            //-   div(class="question") Is this a 6.5 or 8 Point system?
            //-   div(class="answer")
            //-     div(data-bind="cvm:pointSystemsCvm")

            div(class="subHeader") Billing Information
            div(class="line")
              div(class="letter",data-bind="text:num(1)")
              div(class="question")
                |Is the Monthly Monitoring Rate&nbsp;
                span(data-bind="currencytext:data.MonthlyMonitoringRate")
                |?
              div(class="answer")
                input(type="text",class="inputField",name="mmr",
                  data-bind="ukov:data.MonthlyMonitoringRateActual,likecurrencyvalue:data.MonthlyMonitoringRateActual")
            div(class="line")
              div(class="letter",data-bind="text:num()")
              div(class="question")
                |Is the Activation Fee&nbsp;
                span(data-bind="currencytext:data.ActivationFee")
                |?
              div(class="answer")
                input(type="text",class="inputField",name="activationFeeActual",
                  data-bind="ukov:data.ActivationFeeActual,likecurrencyvalue:data.ActivationFeeActual")
            div(class="line")
              div(class="letter",data-bind="text:num()")
              div(class="question") Is the Activation over 3 months or paid in full?
              //- div(class="question")
              //-   |Is the Activation&nbsp;
              //-   span(data-bind="text:data.DefaultActivationPayment")
              //-   |?
              div(class="answer")
                div(data-bind="cvm:data.Over3MonthsCvm")
            div(class="line")
              div(class="letter",data-bind="text:num()")
              div(class="question") Is the billing method ACH?
              //- div(class="question")
              //-   |Is the billing method&nbsp;
              //-   span(data-bind="text:data.DefaultBillingMethod")
              //-   |?
              div(class="answer")
                div(data-bind="cvm:data.PaymentTypeCvm")
            div(class="line")
              div(class="letter",data-bind="text:num()")
              div(class="question") What is the Billing Date?
              //- div(class="question")
              //-   |Is the billing date the&nbsp;
              //-   span(data-bind="text:data.DefaultBillingDay")
              //-   |?
              div(class="answer")
                div(data-bind="cvm:data.BillingDayCvm")
            div(class="line")
              div(class="letter",data-bind="text:num()")
              div(class="question") What type of panel will be installed?
              div(class="answer")
                div(data-bind="cvm:data.PanelTypeCvm")
            div(class="line")
              div(class="letter",data-bind="text:num()")
              div(class="question") Is this a new install or a takeover?
              //- div(class="question")
              //-   |Is this a&nbsp;
              //-   span(data-bind="text:data.DefaultInstallationType")
              //-   |?
              div(class="answer")
                div(data-bind="cvm:data.IsTakeOverCvm")
            div(class="subline")
              div(class="line",data-bind="visible:data.IsTakeOver")
                div(class="letter",data-bind="text:subnum()")
                div(class="question") Who is currently monitoring the account?
                div(class="answer")
                  div(data-bind="cvm:data.CurrentMonitoringStationCvm")
            div(class="line")
              div(class="letter",data-bind="text:num()")
              div(class="question") Is the customer the Home Owner or a Renter
              div(class="answer")
                div(data-bind="cvm:data.IsOwnerCvm")

            div(class="subHeader") Monitoring And Service Information
            div(class="line")
              div(class="letter",data-bind="text:num()")
              div(class="question") If there is a cell unit, who is the vendor?
              div(class="answer")
                div(data-bind="cvm:data.CellTypeCvm")
            div(class="subline")
              div(class="line",data-bind="visible:hasCell")
                div(class="letter",data-bind="text:subnum()")
                div(class="question") Cell Primary?
                div(class="answer")
                  div(data-bind="cvm:data.CellularTypeCvm")
              div(class="line",data-bind="visible:isAlarmCom")
                div(class="letter",data-bind="text:subnum()")
                div(class="question") Which Alarm.com package are we going with?
                div(class="answer")
                  div(data-bind="cvm:data.AlarmComPackageCvm")
              div(class="line",data-bind="visible:isAlarmCom")
                div(class="letter",data-bind="text:subnum()")
                div(class="question") What is you email address?
                div(class="answer")
                  input(type="text",class="inputField",
                    data-bind="ukov:data.Email,value:data.Email")

            div(class="subHeader") Contract Information
            div(class="line")
              div(class="letter",data-bind="text:num()")
              div(class="question") Is the agreement for 60 Months?
              div(class="answer")
                div(data-bind="cvm:contractLengthsCvm")

            div(class="subHeader") Equipment
            div(class="line")
              div(class="letter",data-bind="text:num()")
              div(class="question") What Equipment did you give the customer?
              div(class="answer")

            div(class="subHeader") Frequently Installed Equipment
      tr
        td(class="fh-body")
          div(class="fh-contents")
            div(class="slickgrid",data-bind="slickgrid:frequentGvm")

  div(class="ssiInvoice")
    table(class="fh-wrap")
      tr
        td(class="fh-header")
          div(class="title") Inventory
          ul(class="actions")
            li
              a(class="btn small",tabindex="0",data-bind="cmd:cmdAddByPart") Add By Part #
            li
              a(class="btn small",tabindex="0",data-bind="cmd:cmdAddByBarcode") Add By Barcode
      tr
        td(class="fh-body")
          div(class="fh-contents")
            div(class="slickgrid",
              data-bind="slickgrid:partsGvm")
            div(class="totals")
              div
                div(class="name") Points Given:
                div(class="value",data-bind="likecurrencytext:partsGvm.pointsGiven")
              div
                div(class="name") Points Available:
                div(class="value",data-bind="likecurrencytext:pointsAvailable")
              div
                div(class="name") Total:
                div(class="value",data-bind="currencytext:partsGvm.estimateTotal")

  div(data-bind="spinner:active()&&!loaded(),spinner-rgb:'black'")
