div(class="acct-item acct-clist-survey")
  table(class="fh-wrap")
    tr
      td(class="fh-header")
        ul(class="actions left cf")
          li
            a(class="btn small",tabindex="0",data-bind="cmd:cmdTakeSurvey") Take Survey
          li
            a(class="btn small",tabindex="0",data-bind="cmd:cmdRetakeLastSurvey") Retake Last Survey
        div(class="grid-wrap")
          div(class="slickgrid",data-bind="slickgrid:gvm")
    tr
      td(class="fh-body")
        div(class="fh-contents")
          div(class="survey",data-bind="with:activeChild")
            div(data-bind="template:viewTmpl")

          div(data-bind="spinner:loadingSurvey,spinner-rgb:'black'")

