div(class="acct-item acct-clist-initialpayment")
  div(class="col")
    //- ,style="margin-left:10px;margin-right:30px;")
    div(class="section")
      span(class="title") Initial Payment Breakdown
      div(class="contents",data-bind="with:breakdown")
        ul(class="breakdown")
          li
            span(class="name") Activation Fee:
            span(class="amount",data-bind="currencyHtml:ActivationFee")
          li
            span(class="name") Monitoring:
            span(class="amount",data-bind="currencyHtml:Monitoring")
          li
            span(class="name") Sales Upgrades:
            span(class="amount",data-bind="currencyHtml:SalesUpgrades")
          li
            span(class="name") Tech Upgrades:
            span(class="amount",data-bind="currencyHtml:TechUpgrades")
          li(class="subtotal-group")
            span(class="name") Sub-total:
            span(class="amount",data-bind="currencyHtml:Subtotal")
          li
            span(class="name") Taxes:
            span(class="amount",data-bind="currencyHtml:Taxes")
          li(class="total-group")
            span(class="name") Total:
            span(class="amount",data-bind="currencyHtml:Total")
    div(class="section",data-bind="cmd:clickPaymentMethod,toggle:{empty:!initialPaymentMethod()}")
      span(class="title") Initial Payment Method
      div(class="contents",data-bind="with:initialPaymentMethod")
        div(data-bind="template:'tmpl-account-default-payment_method'")
    div
      div(class="checkbox",data-bind="cmd:function(){recurringSame(!recurringSame())}")
        a(class="btn small",data-bind="active:recurringSame")
        span Recurring Payment same as Initial Payment
      div(class="section",data-bind="visible:!recurringSame(),cmd:clickRecurringPaymentMethod,toggle:{empty:!recurringPaymentMethod()}")
        span(class="title") Recurring Payment Method
        div(class="contents",data-bind="with:recurringPaymentMethod")
          div(data-bind="template:'tmpl-account-default-payment_method'")
    div
      div(class="checkbox",data-bind="cmd:function(){addressSame(!addressSame())}")
        a(class="btn small",data-bind="active:addressSame")
        span Billing Address same as Premise Address
      div(class="section",data-bind="visible:!addressSame(),cmd:clickAddress,toggle:{empty:!address()}")
        span(class="title") Billing Address
        div(class="contents",data-bind="with:address()")
          div(data-bind="template:viewTmpl")

  div(class="actions")
    span(class="btn small",tabindex="0",data-bind="cmd:cmdRunPayment") Run Payment
