div(class="acct-item acct-clist-systemdetails")
  table(class="fh-wrap")
    tr
      td(class="fh-header")
        div(class="col")
          div(class="section",data-bind="cmd:cmdFindRep,toggle:{empty:!repModel()}")
            span(class="title") Technician
            div(class="contents",data-bind="if:repModel")
              div(data-bind="template:{data:repModel,name:'tmpl-acct-default-rep_info'}")

    tr
      td(class="fh-body")
        div(class="fh-contents")

          div(class="acct-equipment",data-bind="with:equipmentVm")
            table(class="fh-wrap")
              tr
                td(class="fh-header")
                  ul(class="actions left cf")
                    li
                      a(class="btn small add-btn",tabindex="0",data-bind="cmd:cmdAddByBarcode") Add By Barcode
                    li
                      a(class="btn small add-btn",tabindex="0",data-bind="cmd:cmdAddExistingEquipment") Add Third Party Equipment
                  div
                    |Total Points:&nbsp;
                    span(data-bind="text:gvm.totalPoints")
              tr
                td(class="fh-body")
                  div(class="fh-contents")
                    div(class="slickgrid",data-bind="slickgrid:gvm")

  div(data-bind="if:active()&&!loaded()")
    div(class="spinner-wrap black", data-bind="template:'tmpl-spinner'")
