div(class="acct-item acct-clist-systemdetails",data-bind="toggle:{'may-reload':mayReload}")
  table(class="fh-wrap")
    tr
      td(class="fh-header")
        div(class="col")
          div(class="section",data-bind="cmd:cmdFindRep,toggle:{empty:!repData()}")
            span(class="title") Technician
            div(class="contents",data-bind="if:repData")
              div(data-bind="template:{data:repData,name:'tmpl-acct-default-rep_info'}")

          div(class="section",data-bind="cmd:cmdFindRep,toggle:{empty:!premiseAddress()}")
            span(class="title") Premise Address
            div(class="contents",data-bind="if:premiseAddress")
              div(data-bind="template:{data:premiseAddress,name:'tmpl-acct-default-address'}")

          div(class="section",data-bind="cmd:cmdEditSystemDetails,toggle:{empty:!systemData()}")
            span(class="title") System Details
            div(class="contents",data-bind="with:systemData")
              ul(class="display-form")
                li
                  span(class="label") Account Password:
                  span(class="value",data-bind="text:accountPassword")
                li
                  span(class="label") Panel Type:
                  span(class="value",data-bind="text:panelType")
                li
                  span(class="label") System Type:
                  span(class="value",data-bind="text:systemType")
                li
                  span(class="label") Cellular Type:
                  span(class="value",data-bind="text:cellularType")
                li
                  span(class="label") DSL/Seizures:
                  span(class="value",data-bind="text:dslSeizure")
    tr
      td(class="fh-body")
        div(class="fh-contents")

          div(class="acct-equipment",data-bind="with:equipmentVm")
            table(class="fh-wrap")
              tr
                td(class="fh-header")
                  ul(class="actions left cf")
                    li
                      a(class="btn small add-btn",tabindex="0",data-bind="cmd:cmdAddByBarcode") Add By Barcode
                    li
                      a(class="btn small add-btn",tabindex="0",data-bind="cmd:cmdAddByPart") Add By Part #
                    li
                      a(class="btn small add-btn",tabindex="0",data-bind="cmd:cmdAddExistingEquipment") Add Third Party Equipment
                  div
                    |Total Points:&nbsp;
                    span(data-bind="text:gvm.totalPoints")
              tr
                td(class="fh-body")
                  div(class="fh-contents")
                    div(class="slickgrid",data-bind="slickgrid:gvm")

  div(data-bind="spinner:active()&&!loaded(),spinner-rgb:'black'")
