div(class="acct-item acct-industrynums",data-bind="toggle:{'may-reload':mayReload}")
  h2(class="title") Industry #'s
  //- div(data-bind="foreach:industryAccounts")
  //-   ul(style="padding-bottom:5px;")
  //-     li
  //-       span(class="name") Industry Number:
  //-       span(class="value",data-bind="text:IndustryAccount")
  //-     li
  //-       span(class="name") Receiver Number:
  //-       span(class="value",data-bind="text:ReceiverNumber")
      //- li
        span(class="name") Last NOC Date:
        span(class="value",data-bind="text:LastNOCDate")

  ul(class="actions left cf")
    li
      a(class="btn",tabindex="0",data-bind="cmd:cmdGenerate") Generate Industry Account
    li
      a(class="btn",tabindex="0",data-bind="cmd:cmdAssignPri") Assign Primary
    li
      a(class="btn",tabindex="0",data-bind="cmd:cmdAssignSec") Assign Secondary
    //- li(style="background-color: red;padding: 10px;font-weight: bold;text-transform: uppercase;",data-bind="visible: result.IsTakeOver")
    //-   span(class="label") Take Over:
    //-   span(data-bind="text:result.TakeOverFromCompanyName")

  div(class="grid-wrap rv")
    div(class="slickgrid",data-bind="slickgrid:industryAccountGvm")

  div(data-bind="spinner:active()&&(!loaded()||cmdGenerate.busy()),spinner-rgb:'black'")
