div(class="acct-industrynums")
  span(class="title") Industry #'s
  ul(data-bind="with:data")
    li
      span(class="name") Industry Number:
      span(class="value",data-bind="text:IndustryNumber")
    li
      span(class="name") Receiver Number:
      span(class="value",data-bind="text:ReceiverNumber")
    li
      span(class="name") Last NOC Date:
      span(class="value",data-bind="text:LastNOCDate")


  div(data-bind="if:active()&&!loaded()")
    div(class="spinner-wrap black", data-bind="template:'tmpl-spinner'")
