div(class="ctxmenu ctxmenu-emcontacts",data-bind="visible:visible,position:position")
  ul(class="actions cf")
    li
      a(class="btn small",tabindex="0",data-bind="cmd:clickDelete") Delete Contact
