div(class="acct-emcontacts")
  table(class="fh-wrap")
    tr
      td(class="fh-header")
        div(class="title") Emergency Contacts
        ul(class="actions left cf")
          li
            a(class="btn small add-btn",tabindex="0",data-bind="cmd:clickAddContact") Add Contact
    tr
      td(class="fh-body")
        div(class="fh-contents relative")
          div(class="slickgrid",data-bind="slickgrid:gvm")
          //- div(data-bind="template:{name:gvm.menuVm.viewTmpl,data:gvm.menuVm}")
