//- IsNonZone
  ZoneEventType
//- LocationNeeded
  ItemLocation
//- WirelessNeeded
  IsExistingWiring
//- MainPanelNeeded
  MainPanel

div(class="equipment-editor")
  div(data-bind="if:loading")
    div(class="spinner-wrap white", data-bind="template:'tmpl-spinner'")

  //- ul(class="actions")
    li
      a(class="btn",data-bind="cmd:cmdDelete") Delete

  div(class="line-top")
    ul(class="edit-form limit-width")
      li
        span(class="label") Barcode or Part # ???
        input(type="text",placeholder="",data-bind="ukov:searchKey,value:searchKey,valueUpdate:'keyup',cmdEnter:cmdSearch")
    ul(class="edit-form limit-width right-side")
      li
        span(class="label") &nbsp;
        a(class="btn",tabindex="0",data-bind="cmd:cmdSearch") Search

  div(class="line-top")
    ul(class="edit-form limit-width")
      li
        span(class="label") Item
        span(class="label" data-bind="text: itemName") Item name goes here
      li
        span(class="label") Zone
        input(type="text",placeholder="",data-bind="ukov:data.Zone,value:data.Zone,valueUpdate:'keyup'")
      li
        span(class="label") Zone Event Type
        div(data-bind="cvm:data.ZoneEventTypeCvm")
      li
        span(class="label") Location
        div(data-bind="cvm:data.ItemLocationCvm")
      li
        span(class="label") Assign To
        div(data-bind="cvm:data.AssignToCvm")
    ul(class="edit-form limit-width right-side")
      li
        span(class="label") Part #
        span(class="label" data-bind="text: partNumber") Part # goes here
      li
        span(class="label") Upgrade
        div(data-bind="cvm:data.IsUpgradeCvm")
      li
        span(class="label") Upgrade Amount
        input(type="text",placeholder="",data-bind="ukov:data.UpgradePrice,value:data.UpgradePrice,valueUpdate:'keyup'")
      li
        span(class="label") Existing Wiring
        div(data-bind="cvm:data.IsExistingWiringCvm")
      li
        span(class="label") Main Panel
        div(data-bind="cvm:data.MainPanelCvm")

  div(class="line-top")
    ul(class="actions")
      li
        a(class="btn",tabindex="0",data-bind="cmd:cmdCancel") Cancel
      li
        a(class="btn",tabindex="0",data-bind="cmd:cmdSave") Save
