div(class="acct-inventory")
  table(class="fh-wrap")
    tr
      td(class="fh-header")
        ul(class="actions left cf")
          li
            a(class="btn small add-btn",tabindex="0",data-bind="cmd:clickAddByBarcode") Add By Barcode
          li
            a(class="btn small add-btn",tabindex="0",data-bind="cmd:clickAddByPart") Add By Part
          li
            a(class="btn small add-btn",tabindex="0",data-bind="cmd:clickAddExistingEquipment") Add Existing Equipment
        div
          |Total Points:&nbsp;
          span(data-bind="text:gvm.totalPoints")
    tr
      td(class="fh-body")
        div(class="fh-contents")
          div(class="slickgrid",data-bind="slickgrid:gvm")
