div(class="acct-inventory")
  table(class="fh-wrap")
    tr
      td(class="fh-header")
        ul(class="actions cf")
          li
            a(class="btn small add-btn",data-bind="click:clickAddByBarcode") Add By Barcode
          li
            a(class="btn small add-btn",data-bind="click:clickAddByPart") Add By Part
          li
            a(class="btn small add-btn",data-bind="click:clickAddExistingEquipment") Add Existing Equipment
          li
            a(class="btn small add-btn",data-bind="click:clickEditEquipment") Edit Equipment
          li
            a(class="btn small add-btn",data-bind="click:clickRemoveEquipment") Remove Equipment
        div
          |Total Points:
          span(data-bind="text:gvm.totalPoints")
    tr
      td(class="fh-body")
        div(class="fh-contents")
          div(class="slickgrid",data-bind="slickgrid:gvm")
