div(class="sales-info")
  div(class="ssiVars")
    table(class="fh-wrap")
      tr
        td(class="fh-header")
          div(class="title") Sales Information
          div(class="vars")
            div(class="subHeader") System Type Information
            div(class="line")
              div(class="letter") A.
              div(class="question") Is this a 6.5 or 8 Point system?
              div(class="answer")
                div(data-bind="template:{name:psComboVM.viewTmpl,data:psComboVM}")

            div(class="subHeader") Monitoring And Service Information
            div(class="line")
              div(class="letter") B.
              div(class="question")
                |Is the activation fee&nbsp;
                span(data-bind="currency:activationFee")
                |?
              div(class="answer")
                input(type="text",class="inputField",name="activationFeeActual",data-bind="value: activationFeeActual")
            div(class="line")
              div(class="letter") C.
              div(class="question") Is Activation over 3 months?
              div(class="answer")
                input(type="checkbox",class="inputField",name="over3Months",data-bind="checked:over3Months,click:over3MonthsAction")
            div(class="line")
              div(class="letter") D.
              div(class="question") What is the cell type?
              div(class="answer")
                div(data-bind="template:{name:ctComboVM.viewTmpl,data:ctComboVM}")
            div(class="line")
              div(class="letter") E.
              div(class="question") Which Alarm.com package are we going with?
              div(class="answer")
                div(data-bind="template:{name:apckComboVM.viewTmpl,data:apckComboVM}")

            div(class="subHeader") Monthly Monitoring
            div(class="line")
              div(class="letter") F.
              div(class="question")
                |Will the monthly monitoring rate be&nbsp;
                span(data-bind="currency:monthlyMonitoringRate")
                |?
              div(class="answer")
                input(type="text",class="inputField",name="mmr",data-bind="value:monthlyMonitoringRateActual")
            div(class="line")
              div(class="letter") G.
              div(class="question") What is the contract length?
              div(class="answer")
                div(data-bind="template:{name:clComboVM.viewTmpl,data:clComboVM}")

            div(class="subHeader") Frequently Installed Equipment
      tr
        td(class="fh-body")
          div(class="fh-contents")
            div(class="slickgrid",data-bind="slickgrid:frequentGrid")

  div(class="ssiInvoice")
    table(class="fh-wrap")
      tr
        td(class="fh-header")
          div(class="title") Inventory
          div(class="ssiAddEqpmt")
            a(href="#") Add By Part #
      tr
        td(class="fh-body")
          div(class="fh-contents")
            div(class="slickgrid",
              data-bind="slickgrid:partsGrid")
            div(class="totals")
              div
                div(class="name") Points Given:
                div(class="value") 6.5
              div
                div(class="name") Points Available:
                div(class="value") 0.0
              div
                div(class="name") Total:
                div(class="value") $365.90
