div(class="acct-item acct-summary")
  table(class="fh-wrap")
    tr
      td(class="fh-header")
        div(style="height:300px;",
          data-bind="template:{name:emcontactsVm.viewTmpl,data:emcontactsVm}")
    tr
      td(class="fh-body")
        div(class="fh-contents")

div(class="layers", data-bind="template:{name:layersVm.viewTmpl,data:layersVm}")
