div(class="acct-summary")
  table(class="fh-wrap")
    tr
      td(class="fh-header")
    tr
      td(class="fh-body")
        div(class="fh-contents")
          div(class="slickgrid",data-bind="slickgrid:ecGvm")
