div(class="acct-item acct-summary",data-bind="toggle:{'may-reload':mayReload}")
  div(data-bind="foreach:statuses")
    div(class="status-cell status-label",data-bind="text:name,cls:status,attr:{title:title}")
  div(data-bind="foreach:contractStatuses")
    div(class="status-cell status-label",data-bind="text:name,cls:status,attr:{title:title}")
  div(style="margin-top:20px;height:300px;",
    data-bind="template:{name:emcontactsVm.viewTmpl,data:emcontactsVm}")

div(class="layers", data-bind="template:{name:layersVm.viewTmpl,data:layersVm}")
