div(class="acct-systemonlineinfo") System Online Information
  div(class="soli-row", data-bind="foreach:msAccountStatus")
    div(class="soli-cell", data-bind="text:KeyName, csr:Status, attr:{title:Value}")
