div(class="acct-systemonlineinfo") System Online Information
  div(class="soli-row")
    div(class="soli-cell", data-bind="text:creditRank, crsss:creditRank")
    div(class="soli-cell red", data-bind="text:contract")
    div(class="soli-cell", data-bind="text:billing")
    div(class="soli-cell", data-bind="text:funding")
    div(class="soli-cell green", data-bind="text:centralStation")
    div(class="soli-cell yellow", data-bind="text:monitoringStatus")
    div(class="soli-cell", data-bind="text:cellProvider")
    div(class="soli-cell", data-bind="text:cellStatus")
