div(class="telguard")
  table(class="fh-wrap")
    tr
      td(class="fh-header")
        div(class="col")
          div(class="section")
            span(class="title") Telguard
            div(class="contents")
              |Please call (555) 555-5555 or visit&nbsp;
              a(href="http://telguard.com",target="_blank") telguard.com
              |&nbsp; to register this cellular device.

    tr
      td(class="fh-body")
        div(class="fh-contents")
          table(class="fh-wrap")
            tr
              td(class="fh-header")
            tr
              td(class="fh-body")

  div(data-bind="spinner:active()&&!loaded(),spinner-rgb:'black'")
