#tmpl-inventory-panel
  include ./inventory.panel.jade
#tmpl-inventory-enter-barcode
  include ./enter.barcode.jade
#tmpl-inventory-transfer
  include ./transfer.inventory.jade
#tmpl-inventory-receive
  include ./receive.inventory.jade
#tmpl-inventory-report
  include ./report.inventory.jade
#tmpl-inventory-barcode-error
  include ./barcode.not.found.jade

#tmpl-inventory-tekaudit
  include ./tekaudit.jade
