script(id="tmpl-inventory-panel",type="text/html")
  include ./inventory.panel.jade
script(id="tmpl-inventory-enter-barcode",type="text/html")
  include ./enter.barcode.jade
script(id="tmpl-inventory-transfer",type="text/html")
  include ./transfer.inventory.jade
script(id="tmpl-inventory-receive",type="text/html")
  include ./receive.inventory.jade
script(id="tmpl-inventory-report",type="text/html")
  include ./report.inventory.jade
script(id="tmpl-inventory-barcode-error",type="text/html")
  include ./barcode.not.found.jade

script(id="tmpl-inventory-audit",type="text/html")
  include ./audit.jade
script(id="tmpl-inventory-print_inventory",type="text/html")
  include ./print-inventory.jade
