table(class="fh-wrap")
  tr
    td(class="fh-header relative")
      ul(class="edit-form")
        li(style="margin:0px 20px;padding-top:10px;")
          div(class="header_left")
            ul(class="header_ul" style="color: white;")
              li
                span(class="label") Enter Barcode#
              li
                input(type="text" placeholder="" data-bind="ukov:data.BarcodeNumber,value:data.BarcodeNumber,valueUpdate:'keyup',select:focusFirst")
              li
                button(type="button" class="btn-inventory"  data-bind="cmd:cmdSearch") Submit
          //- div(class="header_right")
          //-   ul(class="header_ul")
          //-     li
          //-       label Packing Slip #
          //-     li
          //-       input(type="text" data-bind="ukov:data.PackingSlipNumber,value:data.PackingSlipNumber,valueUpdate:'keyup'")
          //- div(class="header_center")
          //-   ul(class="header_ul" style="color: white;")
          //-     li
          //-       span(class="label") Or Select PO#
          //-     li
          //-       span(class="label") Vendor
          //-       div(data-bind="cvm:data.vendorTypeCvm")
          //-     li
          //-       span(class="label") PO# List
          //-       div(data-bind="cvm:data.purchaseOrderListCvm")
          //-     li
          //-       span(class="label") Packing Slip# List
          //-       div(data-bind="cvm:data.packingSlipListCvm")

  tr
    td(class="fh-body")
      div(class="fh-contents")
        div(class="grid-wrap")
          div(class="slickgrid", style="background:white;margin:10px;color:black;", data-bind="slickgrid:historyListGvm")
          div(class="layers", data-bind="template:{name:layersVm.viewTmpl,data:layersVm}")
