div(class="barcode_wrapper")
  ul(class="edit-form")
    li
      label PO#: 
      label(data-bind="text: PurchaseOrderId")
    li
      label Packing Slip#: 
      label(data-bind="text: PackingSlipID")
    li
      label Count#  
      label(data-bind="text: receiveCount")
    li
      label Enter# 
      label(data-bind="text: barcodeCount")
    li
      label Enter Barcode       
      input(type="text" data-bind="ukov:data.productBarcodeID, value:data.productBarcodeID,valueUpdate:'afterkeydown',select:focusFirst, event: { keydown: processBarcode}")  
    li
      Label Enter list of Barcodes
      textarea(rows="5" data-bind="ukov:data.productBarcodeIdList, value:data.productBarcodeIdList,valueUpdate:'afterkeydown', event: { keyup: barcodeUpdateCount}")  
    li
      span(class="btn-bg", tabindex="0", data-bind="cmd:clickProcessBarcode") Submit List
  div(class="actions")          
      span(class="btn-bg", tabindex="0", data-bind="cmd:clickClose") Done Entering Barcodes