table(class="fh-wrap")
  tr
    td(class="fh-header relative")
      ul(class="edit-form")
        //li(class="inventory_header")
        li(style="margin: 10px;")
          div(class="header_left")
            ul(class="header_ul")
              li
                label PO#
              li  
                input(type="text" placeholder="" data-bind="ukov:data.PurchaseOrderID,value:data.PurchaseOrderID,valueUpdate:'keyup',select:focusFirst")
              li  
                button(type="button" class="btn-inventory"  data-bind="cmd:cmdSearch") Submit    
          div(class="header_right")
            ul(class="header_ul")
              li
                label Packing Slip #
              li
                input(type="text" data-bind="ukov:data.PackingSlipNumber,value:data.PackingSlipNumber,valueUpdate:'keyup'")
  tr
    td(class="fh-body")
      div(class="fh-contents")
        div(class="grid-wrap")          
          div(class="slickgrid", style="background:white;margin:10px;color:black;", data-bind="slickgrid:inventoryListGvm")
          div(class="layers", data-bind="template:{name:layersVm.viewTmpl,data:layersVm}")