table(class="fh-wrap")
  tr
    td(class="fh-header relative")
      ul(class="edit-form")
        li(style="margin: 10px;")
          div(class="header_left" style="width: 100%;")
            ul(class="header_ul" style="color: white; width: 50%;")
              li
                span(class="label") Location Type
                div(data-bind="cvm:data.LocationTypeCvm")         
              li
                span(class="label") Location
                div(data-bind="cvm:data.LocationCvm")                   
              li
                span(class="label") Enter Barcode           
                //-input(type="text")
                input(type="text" placeholder="" data-bind="ukov:data.ProductBarcodeID, value:data.ProductBarcodeID,valueUpdate:'afterkeydown',select:focusFirst")
              //-li
                //-input(type="submit" class="btn-bg")
  tr    
    td(class="fh-body" style="width: 50%;")
      div(class="fh-contents")
        div(class="slickgrid", style="background:white;margin:10px;color:black;", data-bind="slickgrid:unScannedListGvm")
    td(class="fh-body" style="width: 50%;")
      div(class="fh-contents")
        div(class="slickgrid", style="background:white;margin:10px;color:black;", data-bind="slickgrid:scannedListGvm")                  
  tr
    td(class="fh-contents")
      button(type="button" class="btn-bg" style="margin: 10px; width: 50%;" data-bind="cmd: cmdPrintReport") Print                         

        
        