@contracts-bg: @site-magenta;

body.contracts,
body.users {
  .mixin-body-color(@contracts-bg);
  .mixin-content-active(@contracts-bg);
}

#contracts-panel {

  .redo {
    .opacity(0.2);
  }
  .btn {
    .make-color-btn(@contracts-bg);
  }

  .account {
    > .p-nav {
      .toggle-btn {
        background-color: @contracts-bg;
        &:before {
          background-color: @contracts-bg;
        }
      }
    }
    > .p-module {
      bottom: 0;
    }
  }
}

.contract-wrap {
  height: 100%;

  .acct-item {
    position: absolute;
    left:0px;top:50px;right:0px;bottom:0px;
    padding: 0px 10px 400px 10px;

    overflow: auto;
  }
}
