#tmpl-contracts-panel
  include ./contracts.panel.jade

#tmpl-contracts-cancel
  include ./cancel.jade
#tmpl-contracts-contract
  include ./contract.jade
#tmpl-contracts-master
  include ./master.jade
