script(id="tmpl-contracts-panel",type="text/html")
  include ./contracts.panel.jade

script(id="tmpl-contracts-cancel",type="text/html")
  include ./cancel.jade
script(id="tmpl-contracts-contract",type="text/html")
  include ./contract.jade
script(id="tmpl-contracts-master",type="text/html")
  include ./master.jade
