//- this one needs to be included in order to work as the login form
#tmpl-loginform
  //- script(id="tmpl-loginform",type="text/html")
  include ./loginform.jade

script(id="tmpl-login-panel",type="text/html")
  include ./login.panel.jade
