div(class="login",data-bind="swapLoginFields:vm")
  h2(class="logo") Nexsense
  div(class="form")
    h2(class="title", data-bind="text:vm.title")
    //- placeholder for login form --)
    span(class="ph-loginform")
    //- div(class="helper-actions")
      //- input(type="checkbox", id="remember", data-bind="checked:rememberMe", class="remember")
      //- label(for="remember") Remember me
      a(data-bind="click:clickForgot", class="btn-forgot") Forgot your password?

  div(data-bind="spinner:vm.cmdLogin.busy,spinner-rgb:'white'")
