#tmpl-panel_accounts
  include ./accounts.jade
#tmpl-panel_home
  include ./home.jade
#tmpl-panel_login
  include ./login.jade
#tmpl-panel_surveys
  include ./surveys.jade
#tmpl-panel_swing
  include ./swing.jade      
#tmpl-panel_inventory
  include ./inventory.jade 
