div(class="accounts",data-bind="if:loaded")
  table(class="fh-wrap")
    tr
      td(class="fh-header")
        ul(class="tabs cf")
          li(class="tab",data-bind="active:searchVM.active")
            a(data-bind="click:clickSearch") Search
          <!-- ko foreach:list -->
          li(class="tab",data-bind="active:active")
            a(data-bind="click:$parent.clickItem,text:title")
            span(data-bind="if:active")
              a(class="close",data-bind="click:close") X
          <!-- /ko -->
          li(class="tab")
            a(data-bind="click:clickNew") +
    tr
      td(class="fh-body")
        div(class="fh-contents")
          <!-- ko if:searchVM.loaded()&&searchVM.active() -->
          div(class="tab", data-bind="template:{name:searchVM.viewTmpl,data:searchVM},active:searchVM.active")
          <!-- /ko -->
          <!-- ko foreach:list -->
          <!-- ko if:active -->
          div(class="tab", data-bind="template:viewTmpl,active:active")
          <!-- /ko -->
          <!-- /ko -->
