div(class="barcode_wrapper")
  ul(class="edit-form")
    li
      label PO#: 
      label XXXXX
    li
      label Packing Slip#: 
      label XXXXX
    li(style="width: 30%;")
      label Count#  
      label XXXXX
    li(style="width: 30%;")
      label Enter#  
      label XXXXX
    li(style="width: 30%;")
      label Barcode 
      input(type="text")
  button(type="button" class="btn-enterBarcode") Done Entering Barcodes   