ul(class="edit-form")
  li(class="inventory_header")
    div(class="header_left")
      ul(class="header_ul")
        li
          label PO#
        li  
          input(type="text" placeholder="" data-bind="ukov:data.PurchaseOrderID,value:data.PurchaseOrderID,valueUpdate:'keyup'")
        li  
          button(type="button" class="btn-inventory"  data-bind="cmd:cmdSearch") Submit
    
    div(class="header_right")
      ul(class="header_ul")
        li
          label Packing Slip #
        li
          input(type="text")
div(class="inventory_body")  
  div(class="slickgrid",style="background:white;color:black; min-height: 500px; position: relative;", data-bind="slickgrid:inventoryListGvm")  
  button(type="button" class="btn-inventory"  data-bind="cmd:showEnterBarcode") Show Enter Barcode Screen