doctype HTML5
html
  head
    title Depends - Jasmine Spec Runner
    link(rel="stylesheet", type="text/css", href="tparty/jasmine.css")
    script(src="tparty/jasmine.js")
    script(src="tparty/jasmine-html.js")
    script(src="tparty/reporter.js")
  body
    script(src="depends.conf.spec.js")
    script(src="depends.js")
    script(src="depends.spec.js")
    script(src="specrunner.js")
