<!-- ko foreach:showLayers -->
div(class="layer-table")
  div(class="layer-cell")
    div(class="layer", data-bind="width:width,height:height")
      div(class="content", data-bind="template:{name:vm().viewTmpl,data:vm}")
<!-- /ko -->
<!-- ko foreach:alertLayers -->
div(class="layer-table")
  div(class="layer-cell")
    div(class="layer", data-bind="width:width,height:height")
      div(class="content", data-bind="template:{name:vm().viewTmpl,data:vm}")
<!-- /ko -->
