script(id="tmpl-map-panel",type="text/html")
  include ./map.jade

script(id="tmpl-salesmap-categorys",type="text/html")
  include ./categorys.jade
script(id="tmpl-salesmap-category_editor",type="text/html")
  include ./category.editor.jade
