div(data-bind="if:cmdAdd.busy")
  div(class="spinner-wrap white", data-bind="template:'tmpl-spinner',active:true")

ul(class="edit-form")
  li
    span(class="label") Question Meaning
    input(type="text",data-bind="ukov:qmData.Name,value:qmData.Name,valueUpdate:'keyup'")

ul(class="actions")
  li
    a(class="btn",tabindex="0",data-bind="cmd:clickCancel") Cancel
  li
    a(class="btn",tabindex="0",data-bind="cmd:cmdAdd") Add Meaning
