#tmpl-panel_scrum
  include ./scrum.jade

#tmpl-scrum_project
  include ./project.jade

#tmpl-scrum_backlog
  include ./backlog.jade
#tmpl-scrum_planning
  include ./planning.jade
#tmpl-scrum_taskboard
  include ./taskboard.jade
#tmpl-scrum_tracking
  include ./tracking.jade

#tmpl-scrum_epic
  include ./epic.jade
#tmpl-scrum_story
  include ./story.jade

#tmpl-scrum_epic_editor
  include ./epic.editor.jade
#tmpl-scrum_story_editor
  include ./story.editor.jade
#tmpl-scrum_task_editor
  include ./task.editor.jade
