div(class="scrum-backlog")
  table(class="fh-wrap")
    tr
      td(class="fh-header")
        | Backlog
    tr
      td(class="fh-body")
        div(class="fh-contents")
          //- div(class="slickgrid",data-bind="slickgrid:gvm")

          div(data-bind="with:bd")
            <!-- ko foreach:childs -->
            div(data-bind="template:{name:viewTmpl}")
            <!-- /ko -->

div(class="layers",data-bind="template:{name:layersVm.viewTmpl,data:layersVm}")
