div(class="scrum-backlog")
  table(class="fh-wrap")
    tr
      td(class="fh-header")
        | Backlog
    tr
      td(class="fh-body")
        div(class="fh-contents")
          div(class="slickgrid",
            data-bind="slickgrid:gvm")
