div(class="scrum-tab scrum-backlog",data-bind="with:backlog().bd")
  div(class="header")
    span(class="btn add",tabindex="0",data-bind="cmd:cmdAddEpic") Epic
    span(class="btn add",tabindex="0",data-bind="cmd:cmdAddStory") Story
  div(class="sprints")
    div(class="sprint backlog")
      div(class="title") Backlog
      <!-- ko foreach:childs -->
      div(data-bind="template:{name:viewTmpl}")
      <!-- /ko -->

div(class="layers",data-bind="template:{name:layersVm.viewTmpl,data:layersVm}")
