div(class="epic bl-drag-item",data-bind="scrumDrag:{}")
  div(class="bl-item-sibling",data-bind="scrumDrop:{accept:'.bl-drag-item',onDrop:'onDropSibling'}")

  div(class="bl-item-wrap")
    div(class="bl-item",data-bind="scrumDrop:{accept:'.bl-drag-item',onDrop:'onDropChild'}")
      div(class="first")
        span(class="drag-hdl")
        span(class="btn edit",tabindex="0",data-bind="cmd:cmdEdit") Edit
        span(class="btn add",tabindex="0",data-bind="cmd:cmdAddEpic") Epic
        span(class="btn add",tabindex="0",data-bind="cmd:cmdAddStory") Story
      div(class="middle")
        //- span(class="title",data-bind="text:item.ID")
        span(class="title",data-bind="text:item.Name")
      div(class="last")
        span(class="pts",data-bind="text:points")
        span(class="owner") ???

  //- div(class="bl-item-sibling",data-bind="scrumDrop:{accept:'.bl-drag-item',onDrop:'onDropSibling'}")

  div(class="bl-item-wrap")
    <!-- ko foreach:childs -->
    div(data-bind="template:{name:viewTmpl}")
    <!-- /ko -->

