div(class="cooler")
  div(class="grid-wrap")
    div(class="slickgrid",style="margin:10px",data-bind="slickgrid:cooler.gvm")

div(class="storys")
  div(class="current")
    div(class="grid-wrap")
      div(class="slickgrid",style="margin:10px",data-bind="slickgrid:storyBoard.gvm")
  div(class="backlog")
    div(class="grid-wrap")
      div(class="slickgrid",style="margin:10px",data-bind="slickgrid:backlog.gvm")

div(class="filter")
  div(class="people-wrap")
    div(class="people")
      | Bob

