div(class="scrum project",data-bind="if:loaded")
  table(class="fh-wrap")
    tr
      td(class="fh-header")
        ul(class="tabs cf",)
          //-HACK to not be convered up by toggle-btn
          li(class="tab under-toggle-btn")
          <!-- ko foreach:views -->
          li(class="tab")
            a(data-bind="click:$parent.clickView,active:active,text:title")
          <!-- /ko -->
    tr
      td(class="fh-body")
        div(class="fh-contents",data-bind="foreach:views")
          div(class="tab", data-bind="template:viewTmpl,active:active")
