div(class="scrum project",data-bind="if:loaded")
  table(class="fh-wrap")
    tr
      td(class="fh-header")
        ul(class="tabs cf")
          //-HACK to not be convered up by toggle-btn
          li(class="tab under-toggle-btn")
          <!-- ko foreach:childs -->
          li(class="tab",data-bind="active:active")
            a(data-bind="click:$parent.clickItem,text:title")
            //- span(data-bind="if:active")
              a(class="close",data-bind="click:close")
          <!-- /ko -->
    tr
      td(class="fh-body")
        div(class="fh-contents")
          <!-- ko foreach:childs -->
          <!-- ko if:active -->
          div(class="tab", data-bind="template:viewTmpl,active:active")
          <!-- /ko -->
          <!-- /ko -->
