div(class="scrum project",data-bind="if:loaded")
  table(class="fh-wrap")
    tr
      td(class="fh-header")
        ul(class="tabs cf",data-bind="foreach:views")
          li(class="tab")
            a(data-bind="click:$parent.clickItem,active:active,text:title")
    tr
      td(class="fh-body")
        div(class="fh-contents",data-bind="foreach:views")
          div(class="tab", data-bind="template:{name:viewTmpl,data:$parent},active:active")
