div(class="story-editor")
  table(class="fh-wrap")
    tr
      td(class="fh-header")
        h2(class="title",data-bind="text:title")
        div(class="line-top")
          ul(class="edit-form")
            //- li
            //-   span(class="label") StoryTypeId
            //-   div(data-bind="template:{name:data.StoryTypeCvm.viewTmpl,data:data.StoryTypeCvm}")
            li
              //- span(class="label") Name
              input(type="text", placeholder="",
                data-bind="ukov:data.Name,value:data.Name,valueUpdate:'keyup'")

    tr
      td(class="fh-body")
        div(class="fh-contents")
          div(class="lower-wrap line-top")
            div(class="details")
              ul(class="edit-form")
                li
                  //- span(class="label") Description
                  textarea(rows="14",placeholder="",
                    data-bind="ukov:data.Description,value:data.Description,valueUpdate:'keyup'")

            div(class="status")
              ul(class="edit-form")
                li
                  span(class="label") Points
                  div(data-bind="cvm:data.PointsCvm")
                //- li
                  span(class="label") State
                  div(data-bind="cvm:data.StateCvm")
                li
                  span(class="label") Assigned To
                  div(data-bind="cvm:data.PersonCvm")
                li
                  span(class="label") Sort Order
                  input(type="text", placeholder="",
                    data-bind="ukov:data.SortOrder,value:data.SortOrder,valueUpdate:'keyup'")

          ul(class="actions")
            li
              a(class="btn",tabindex="0",data-bind="cmd:cmdClose") Cancel
            li
              a(class="btn",tabindex="0",data-bind="cmd:cmdSave") Save and Close
