div(class="story bl-drag-item",data-bind="scrumDrag:{}")
  div(class="bl-item-sibling",data-bind="scrumDrop:{accept:'.bl-drag-item',onDrop:'onDropSibling'}")

  div(class="bl-item-wrap")
    div(class="bl-item")
      div(class="first")
        span(class="drag-hdl")
        span(class="btn edit",tabindex="0",data-bind="cmd:cmdEdit") Edit
        span(class="btn add",tabindex="0",data-bind="cmd:cmdAddTask") Task
      div(class="middle")
        //- span(class="title",data-bind="text:item.ID")
        span(class="title",data-bind="text:item.Name")
        span(class="description",data-bind="text:item.Description")
      div(class="last")
        span(class="pts",data-bind="text:points")
        span(class="owner") ???

      //- div(class="tasks",data-bind="foreach:tasks")
        div(class="task-wrap")
          div(class="task")
            span(data-bind="text:item.Name")
      div(class="steps-wrap")
        //- Steps
        div(class="steps",data-bind="foreach:childs")
          //- Tasks
          //- span(class="title",data-bind="text:item.ID")
          div(class="step",data-bind="text:item.Name,scrumDrop:{accept:'.bl-drag-item',onDrop:'onDropChild'}")
          div(class="step",data-bind="foreach:childs")
            //- Task
            div(class="task-wrap bl-drag-item",data-bind="scrumDrag:{}")
              div(class="task bl-item-wrap")
                div(class="bl-item-sibling",data-bind="scrumDrop:{accept:'.bl-drag-item',onDrop:'onDropSibling'}")
                div(class="bl-item-wrap")
                  div(class="bl-item")
                    div(class="first")
                      span(class="drag-hdl")
                      span(class="btn edit",tabindex="0",data-bind="cmd:cmdEdit") Edit
                    div(class="middle")
                      //- span(class="title",data-bind="text:item.ID")
                      span(class="title",data-bind="text:item.Name")
                    div(class="last")

  //- div(class="bl-item-sibling",data-bind="scrumDrop:{accept:'.bl-drag-item',onDrop:'onDropSibling'}")
