div(class="scrum-tab scrum-track",data-bind="if:sprint")
  div(class="header")
    div(class="",data-bind="text:sprint().id")
    span(data-bind="cmd:cmdPrevSprint") Prev Sprint
    span(data-bind="cmd:cmdNextSprint") Next Sprint
  div(class="sprints")
    div(class="sprint-wrap")
      div(class="sprint",data-bind="foreach:sprint().bd.childs")
        //- Storys
        div(class="story-wrap")
          div(class="story")
            //- Story
            //- span(class="title",data-bind="text:item.ID")
            span(class="title",data-bind="text:item.Name")
            span(class="pts",data-bind="text:points")
            span(class="owner") ???

          div(class="steps-wrap")
            //- Steps
            div(class="steps",data-bind="foreach:childs")
              //- Tasks
              //- span(class="title",data-bind="text:item.ID")
              div(class="step",data-bind="foreach:childs,scrumDrop:{accept:'.bl-drag-item',onDrop:'onDropChild'}")
                //- Task
                div(class="task-wrap bl-drag-item",data-bind="scrumDrag:{}")
                  div(class="task bl-item-wrap")
                    div(class="bl-item-sibling",data-bind="scrumDrop:{accept:'.bl-drag-item',onDrop:'onDropSibling'}")
                    div(class="bl-item-wrap")
                      div(class="bl-item")
                        div(class="first")
                          span(class="drag-hdl")
                        div(class="middle")
                          //- span(class="title",data-bind="text:item.ID")
                          span(class="title",data-bind="text:item.Name")
                        div(class="last")
