div(class="story-editor")
  h2(class="title",data-bind="text:title")
  ul(class="edit-form")
    li
      span(class="label") Name
      input(type="text", placeholder="",
        data-bind="ukov:data.Name,value:data.Name,valueUpdate:'keyup',cmdEnter:cmdSave,select:focusFirst")
    li
      span(class="label") Person
      div(data-bind="template:{name:data.PersonCvm.viewTmpl,data:data.PersonCvm},cmdEnter:cmdSave")
    li
      span(class="label") Hours Estimated
      input(type="text", placeholder="",
        data-bind="ukov:data.Hours,value:data.Hours,valueUpdate:'keyup',cmdEnter:cmdSave")
    li
      span(class="label") TaskStep
      div(data-bind="template:{name:data.TaskStepCvm.viewTmpl,data:data.TaskStepCvm},cmdEnter:cmdSave")

  div(class="actions")
    span(class="btn-bg", tabindex="0", data-bind="cmd:cmdSave") Ok
    span(class="btn-bg", tabindex="0", data-bind="cmd:cmdClose") Cancel
