//-
  Show Tasks in current Sprint
  foreach Story in Sprint
    foreach Step
      foreach Task at Step

  OR

  foreach Story in Sprint
    foreach Step
      foreach Person in Step
        foreach Task assigned to Person
