.layers .layer-table {
  z-index: 1; // put above slickgrid
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;

  // only show the background on the topmost layer
  &:last-child {
    background-color: rgba(0,0,0, 0.2);
  }
  // &:not(:last-child) {
  //   display: none;
  // }

  .layer-cell {
    display: table-cell;
    vertical-align: middle;
    color: white;

    .layer {
      margin-left: auto;
      margin-right: auto;
      .transition(width 0.25s, height 0.25s;);

      position: relative;

      .border-radius(5px);
      .box-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
      // default size
      width: 98%;
      height: 98%;
      // overflow: hidden;

      .content {
        padding: 20px;

        .actions ul,
        ul.actions {
          text-align: right;
          display: block;
          li {
            display: inline-block;
            padding: 10px 0px 10px 5px;
          }
        }
      }

      h2.title {
        text-shadow: 0 1px 0 #fff;
        // padding: 15px 0px 0px 15px;
        text-transform: uppercase;
      }
    }
  }
}
