
// .makeLeftDock(@width) {
// }

.dock {
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  &.scrollable {
    overflow: auto;
  }

  // default sizes
  @dockWidth: 250px;
  @dockHeight: 300px;

  > .dock-content,
  > .dock-left,
  > .dock-right,
  > .dock-top,
  > .dock-bottom {
    position: absolute;
    .transition(top 0.25s, right 0.25s, bottom 0.25s, left 0.25s;);
  }

  > .dock-left,
  > .dock-right,
  > .dock-top,
  > .dock-bottom {
    color: #fff;
  }

  > .dock-content {
    top:0;right:0;bottom:0;left:0;
    overflow: auto;
  }
  > .dock-left {
    .box-shadow(inset -5px 0 5px -5px #000000;); // right
    color: #fff;
    top:0;
    // right:0;
    bottom:0;
    left: -@dockWidth;

    width: @dockWidth;
  }
  > .dock-right {
    .box-shadow(inset -2px -5px 5px -5px #000000;); // left
    top:0;
    right: -@dockWidth;
    bottom:0;
    // left:0;

    width: @dockWidth;
  }
  > .dock-top {
    .box-shadow(inset 0 -5px 5px -5px #000000;); // bottom
    top: -@dockHeight;
    right:0;
    // bottom:0;
    left:0;

    height: @dockHeight;
  }
  > .dock-bottom {
    .box-shadow(inset 0 5px 5px -5px #000000;); // top
    // top:0;
    right:0;
    bottom: -@dockHeight;
    left:0;

    height: @dockHeight;
  }
  //
  //
  //
  &.l-show {
    > .dock-left {
      left: 0px;
    }
    > .dock-content,
    > .dock-bottom {
      left: @dockWidth;
    }
  }
  &.r-show {
    > .dock-right {
      right: 0px;
    }
    > .dock-content,
    > .dock-top,
    > .dock-bottom {
      right: @dockWidth;
    }
  }
  &.t-show {
    > .dock-top {
      top: 0px;
    }
    > .dock-content,
    > .dock-left {
      top: @dockHeight;
    }
  }
  &.b-show {
    > .dock-bottom {
      bottom: 0px;
    }
    > .dock-content {
      bottom: @dockHeight;
    }
  }
  //
  //
  //
  .make-left-dock(@dockWidth) {
    > .dock-left {
      left: -@dockWidth;
      width: @dockWidth;
    }
    &.l-show {
      > .dock-left {
        left: 0px;
      }
      > .dock-content,
      > .dock-bottom {
        left: @dockWidth;
      }
    }
  }
  &.l3-160 {
    .make-left-dock(160px);
  }
  &.l3-200 {
    .make-left-dock(200px);
  }
  &.l3-250 {
    .make-left-dock(250px);
  }
  &.l3-300 {
    .make-left-dock(300px);
  }
  &.l3-350 {
    .make-left-dock(350px);
  }
  //
  //
  //
  .make-right-dock(@dockWidth) {
    > .dock-right {
      right: -@dockWidth;
      width: @dockWidth;
    }
    &.r-show {
      > .dock-right {
        right: 0px;
      }
      > .dock-content,
      > .dock-top,
      > .dock-bottom {
        right: @dockWidth;
      }
    }
  }
  &.r3-160 {
    .make-right-dock(160px);
  }
  //
  //
  //
  .make-top-dock(@dockHeight) {
    > .dock-top {
      top: -@dockHeight;
      height: @dockHeight;
    }
    &.t-show {
      > .dock-top {
        top: 0px;
      }
      > .dock-content,
      > .dock-left {
        top: @dockHeight;
      }
    }
  }
  &.t3-40 {
    .make-top-dock(40px);
  }


  //
  //
  //
  > .dock-left {
    > .btn-dock {
      top: 0px;
      right: -17px;
    }
  }
  > .dock-right {
    > .btn-dock {
      top: 0px;
      left: -18px;
      .transform(rotate(180deg));
    }
  }
  > .dock-top {
    > .btn-dock {
      bottom: -28px;
      right: 10px;
      .transform(rotate(90deg));
    }
  }
  > .dock-bottom {
    > .btn-dock {
      top: -28px;
      left: 10px;
      .transform(rotate(-90deg));
    }
  }


  //
  //
  //
  > div > .btn-dock {
    font-family: entypo;
    font-size: 28;
    padding: 5px;
    cursor: pointer;
    > .open {
      display: none;
      &:before {
        content: '\E75E';
      }
    }
    > .close {
      display: block;
      &:before {
        content: '\E75D';
      }
    }
    &.closed > .open {
      display: block;
    }
    &.closed > .close {
      display: none;
    }

    .box-shadow(inset 0 5px 5px -5px #000000, inset -5px 0 5px -5px #000000, inset -2px -5px 5px -5px #000000;);
    position: absolute;
    .border-radius(0px 5px 5px 0px);
    color: #fff;
    // background-color: to be set;
  }
  .under-toggle-btn {
    width:17px;height:39px;
  }
}
