.scrum {

  .fh-body {
    background: #fff;
  }

  .drag-hdl {
    cursor: url(/stuff/img/cursor-grab-up.cur), default;
    &:before {
      font-family: entypo;
      font-size: 16;
      content: '\2630';
    }
  }
  .first,
  .middle,
  .last {
    display:table-cell;
    span {
      display:inline-block;
      vertical-align: top;
    }
  }
  .middle {
    width: 100%;
  }

  .scrum-backlog {
    position: absolute;
    // top:0;right:0;bottom:0;left:0;
    top:10px;right:10px;bottom:10px;left:10px;

    .epic .bl-item {
      background: yellow;
    }
    .story .bl-item {
      background: #fff;
    }

    .bl-item-wrap {
      padding-left: 20px;
    }

    .bl-item {
      padding: 0px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      // .box-shadow(0px 1px 0px rgba(255,255,255,0.2), inset 0px 1px 0px rgba(255,255,255,0.2););
      .border-radius(5px);

      background: #FFF;

      &.drop-accept {
        .box-shadow(inset 0px 0px 3px #444);
      }
    }

    .bl-item-sibling {
      margin-left: 15px;
      height: 3px;
      // background: yellow;

      &.drop-accept {
        background: #bbb;
      }
    }

    .first {
      padding: 0px 3px;
      vertical-align: top;
    }
    .middle {
      padding-right: 10px;
      span {
        display: block;
      }
      .description {
        font-size: 0.8em;
      }
    }
    .last {
      width: 170px;
      white-space:nowrap;

      // .pts,
      // .owner {
      //   display:inline-block;
      // }

      .pts {
        width: 80px;
      }
      .owner {
        width: 80px;
      }
    }
  }

  .scrum-plan {
    position: absolute;
    top:0;right:0;bottom:0;left:0;
  }

  .scrum-track {
    position: absolute;
    top:0;right:0;bottom:0;left:0;

    .story {
      padding: 5px;
      border: solid 1px gray;
      border-left: 0px;
      border-right: 0px;

      .title,
      .pts,
      .owner {
        vertical-align: top;
        display:inline-block;
      }
      .title {
        width: 70%;
      }
      .pts {
        width: 10%;
      }
      .owner {
        width: 20%;
      }
    }

    .tasks-wrap {
      // background: red;
      display: table;
      width: 100%;

      height: 30px; //@NOTE: really the min-height
    }
    .tasks {
      display: table-row;

      .step {
        // background: blue;
        display: table-cell;
        width: 25%;

        min-height: 100px;
        height: 100%;

        vertical-align: top;
        padding: 0px 5px 5px 0px;
        // background: orange;

        &.drop-accept {
          background: #bbb;
        }
        .task-wrap {
          vertical-align: top;
          display:inline-block;
          padding: 5px 0px 0px 5px;
          width: 49%;
          // background: red;
          .task {
            // background: blue;
            height: 80px;
            border: solid 1px gray;
            .border-radius(5px);
            padding: 2px;

            position: relative;
            .bl-item-sibling {
              position: absolute;
              top:-5px;left:-5px;
              width: 4px;
              height: 100%;
              // background: yellow;

              &.drop-accept {
                background: #bbb;
              }
            }
          }
        }
      }
    }
  }
}
