.ctxmenu {
  z-index: 1;
  position: absolute;
  background: white;
  border: solid 1px silver;

  > ul.actions {
    list-style: none;
    padding: 10px 0px 0px 7px;
    margin: 0;
    border: 0 solid transparent;
    li {
      list-style: none;
      margin: 0 7px 10px 0;
      padding: 0;

      a {
        white-space: nowrap;
      }
    }
  }
}

.cell-reorder {
  background: url(stuff/img/drag-handle.png) no-repeat center center;
  cursor: pointer;
}

// this is kind of hacky but it works...
.grid-wrap {
  &.rv {
    resize: vertical;
    overflow: auto;
    .slickgrid {
      resize: initial; // not resizeable
      bottom: 12px;
    }
  }
}

// show resize handle when hovering over column header
.slick-header-column:hover {
  .slick-resizable-handle {
    background-color: #777;
  }
}


.cell-drop-child .target {
  // border: 1px dashed black !important;
  // background-color: #fbfbfb;
  background-color: #ccc;
  .border-radius(5px);
  margin: 2px;
  height: 16px;
  width: 16px;
}

.cell-tab {
  display: inline-block;
  border-left: solid 1px #ccc;
  margin-left: 10px;
  width: 10px;
}

.parent-cell {
  display: inline-block;
  // width: 20px;
  // border-left: solid 1px silver;
}
