#tmpl-funding-panel
  include ./funding.panel.jade

#tmpl-funding-packets
  include ./packets.jade

#tmpl-funding-criterias
  include ./criterias.jade

#tmpl-funding-criteriasearch
  include ./criteriasearch.jade

#tmpl-funding-bundles
  include ./bundles.jade
