script(id="tmpl-funding-panel",type="text/html")
  include ./funding.panel.jade

script(id="tmpl-funding-packets",type="text/html")
  include ./packets.jade

script(id="tmpl-funding-packetsearch",type="text/html")
  include ./packetsearch.jade

script(id="tmpl-funding-criterias",type="text/html")
  include ./criterias.jade

script(id="tmpl-funding-criteriasearch",type="text/html")
  include ./criteriasearch.jade

script(id="tmpl-funding-bundles",type="text/html")
  include ./bundles.jade

script(id="tmpl-funding-bundlesearch",type="text/html")
  include ./bundlesearch.jade

script(id="tmpl-funding-packetitem_editor",type="text/html")
  include ./packetitem.editor.jade
