#tmpl-hr-panel
  include ./hr.panel.jade

#tmpl-hr-search
  include ./search.jade

#tmpl-hr-user
  include ./user.jade
#tmpl-hr-userinfo
  include ./userinfo.jade
#tmpl-hr-usereditor
  include ./usereditor.jade
