script(id="tmpl-hr-panel",type="text/html")
  include ./hr.panel.jade

script(id="tmpl-hr-chooseseason",type="text/html")
  include ./chooseseason.jade

script(id="tmpl-hr-recruitseason",type="text/html")
  include ./recruitseason.jade
script(id="tmpl-hr-recruiteditor",type="text/html")
  include ./recruiteditor.jade
script(id="tmpl-hr-recruitinfo",type="text/html")
  include ./recruitinfo.jade

script(id="tmpl-hr-teams",type="text/html")
  include ./teams.jade
script(id="tmpl-hr-team",type="text/html")
  include ./team.jade
script(id="tmpl-hr-teameditor",type="text/html")
  include ./teameditor.jade
script(id="tmpl-hr-teaminfo",type="text/html")
  include ./teaminfo.jade
script(id="tmpl-hr-teamsearch",type="text/html")
  include ./teamsearch.jade

script(id="tmpl-hr-users",type="text/html")
  include ./users.jade
script(id="tmpl-hr-user",type="text/html")
  include ./user.jade
script(id="tmpl-hr-usereditor",type="text/html")
  include ./usereditor.jade
script(id="tmpl-hr-userinfo",type="text/html")
  include ./userinfo.jade
script(id="tmpl-hr-usersearch",type="text/html")
  include ./usersearch.jade
