#tmpl-hr-panel
  include ./hr.panel.jade

#tmpl-hr-chooseseason
  include ./chooseseason.jade

#tmpl-hr-recruitseason
  include ./recruitseason.jade
#tmpl-hr-recruiteditor
  include ./recruiteditor.jade
#tmpl-hr-recruitinfo
  include ./recruitinfo.jade

#tmpl-hr-teams
  include ./teams.jade
#tmpl-hr-team
  include ./team.jade
#tmpl-hr-teameditor
  include ./teameditor.jade
#tmpl-hr-teaminfo
  include ./teaminfo.jade
#tmpl-hr-teamsearch
  include ./teamsearch.jade

#tmpl-hr-users
  include ./users.jade
#tmpl-hr-user
  include ./user.jade
#tmpl-hr-usereditor
  include ./usereditor.jade
#tmpl-hr-userinfo
  include ./userinfo.jade
#tmpl-hr-usersearch
  include ./usersearch.jade
