#tmpl-hr-panel
  include ./hr.panel.jade

#tmpl-hr-users
  include ./users.jade
#tmpl-hr-user
  include ./user.jade
#tmpl-hr-usereditor
  include ./usereditor.jade
#tmpl-hr-userinfo
  include ./userinfo.jade
#tmpl-hr-usersearch
  include ./usersearch.jade
