div(class="hr-panel dock l3-160",data-bind="toggle:{'l-show':showNav}")

  div(class="dock-content",data-bind="with:activeChild")
    div(data-bind="template:{name:viewTmpl}")

  div(class="dock-left")
    div(class="btn-dock",data-bind="click:function(){showNav(!showNav())},toggle:{'closed':!showNav()}")
      div(class="close")
      div(class="open")

    h2 Hiring Manager
    ul(class="nav",data-bind="foreach:childs")
      li
        a(data-bind="active:active,click:$parent.clickItem")
          span(data-bind="text:title")

  div(class="layers", data-bind="template:{name:layersVm.viewTmpl,data:layersVm}")
