div(class="user-info")
  div(class="col")
    div(class="section")
      span(class="title") Login Info
      div(class="contents")
        ul(class="edit-form")
          li
            span(class="label") Email/Username
            div(class="value",data-bind="text:data.Email")
          li
            span(class="label") Password
            div(class="value",data-bind="text:data.Password")


    div(class="section")
      span(class="title") General Info
      div(class="contents")
        ul(class="edit-form")
          li
            span(class="label") CompanyID
            div(class="value",data-bind="text:data.GPEmployeeID")
          li
            span(class="label") Name
            div(class="value",data-bind="text:data.FirstName")
            div(class="value",data-bind="text:data.MiddleName")
            div(class="value",data-bind="text:data.LastName")
          li
            span(class="label") Preferred Name
            div(class="value",data-bind="text:data.PreferredName")
          li
            span(class="label") SSN
            div(class="value",data-bind="ssn:data.SSN")
          li
            span(class="label") Shirt Size
            div(class="value",data-bind="text:data.ShirtSize")
          li
            span(class="label") Hat Size
            div(class="value",data-bind="text:data.HatSize")
          li
            span(class="label") Gender
            div(class="value",data-bind="text:data.Sex")
          li
            span(class="label") Marital Status
            div(class="value",data-bind="text:data.MaritalStatus")
          li
            span(class="label") Spouse Name
            div(class="value",data-bind="text:data.SpouseName")


    div(class="section")
      span(class="title") Contact Info
      div(class="contents")
        ul(class="edit-form")
          li
            span(class="label") Cell Phone
            div(class="value",data-bind="text:data.PhoneCell")
          li
            span(class="label") Provider
            div(class="value",data-bind="text:data.PhoneCellCarrierID")
          li
            span(class="label") Home Phone
            div(class="value",data-bind="text:data.PhoneHome")


    div(class="section")
      span(class="title") Place of Birth
      div(class="contents")
        ul(class="edit-form")
          li
            span(class="label") DOB
            div(class="value",data-bind="text:data.BirthDate")
          li
            span(class="label") Country
            div(class="value",data-bind="text:data.BirthCountry")
          li
            span(class="label") City
            div(class="value",data-bind="text:data.BirthCity")
          li
            span(class="label") State
            div(class="value",data-bind="text:data.BirthState")


    div(class="section")
      span(class="title") Driver's License
      div(class="contents")
        ul(class="edit-form")
          li
            span(class="label") DLNumber
            div(class="value",data-bind="text:data.DLNumber")
          li
            span(class="label") DLState
            div(class="value",data-bind="text:data.DLState")
          li
            span(class="label") DLExpiration
            div(class="value",data-bind="text:data.DLExpiration")


    div(class="section")
      span(class="title") Documentation
      div(class="contents")
        ul(class="edit-form")
          li
            span(class="label") Right to Work
            div(class="value",data-bind="text:data.RightToWorkStatusID")
          li
            span(class="label") RightToWorkExpirationDate
            div(class="value",data-bind="text:data.RightToWorkExpirationDate")
          li
            span(class="label") Notes
            div(class="value",data-bind="text:data.RightToWorkNotes")


    div(class="section")
      span(class="title") Recruiting Info
      div(class="contents")
        | blah
