script(id="tmpl-core-combo",type="text/html")
  include ./combo.jade
script(id="tmpl-core-dialog",type="text/html")
  include ./dialog.jade
script(id="tmpl-core-layers",type="text/html")
  include ./layers.jade
script(id="tmpl-core-login",type="text/html")
  include ./login.jade
script(id="tmpl-core-multiselect",type="text/html")
  include ./multiselect.jade
script(id="tmpl-core-notices",type="text/html")
  include ./notices.jade
script(id="tmpl-core-override",type="text/html")
  include ./override.jade
