#tmpl-core-combo
  include ./combo.jade
#tmpl-core-dialog
  include ./dialog.jade
#tmpl-core-layers
  include ./layers.jade
#tmpl-core-login
  include ./login.jade
#tmpl-core-multiselect
  include ./multiselect.jade
#tmpl-core-notices
  include ./notices.jade
#tmpl-core-override
  include ./override.jade
