div(class="notice-wrap", data-bind="foreach:list,toggle:{top:atTop},visible:list().length")
  div(data-bind="notice:$data", class="notice-item-wrap")
    div(class="notice-item")
      span(data-bind="attr:{'class':'ico '+type}")
      span(class="seconds",data-bind="text:seconds")
      div(class="title")
        span(data-bind="text:title")
        span(class="code",data-bind="text:code")
      div(class="actions-wrap")
        ul(class="actions", data-bind="foreach:actions")
          li
            a(data-bind="text:name,click:action")
      span(class="url", data-bind="text:url,visible:url")
      div(class="content-wrap")
        div(class="content")
          div(data-bind="text:message,css:{'pre-wrap':!noPre}")

div(class="layers", data-bind="template:{name:layersVm.viewTmpl,data:layersVm}")
