div(class="notice-wrap", data-bind="foreach:list")
  div(data-bind="notice:$data", class="notice-item-wrap")
    div(class="notice-item")
      span(data-bind="attr:{'class':'ico '+type}")
      span(class="seconds",data-bind="text:seconds")
      span(class="title", data-bind="text:title")
      div(class="actions-wrap")
        ul(class="actions", data-bind="foreach:actions")
          li
            a(data-bind="text:name,click:action")
      div(class="content-wrap")
        div(class="content")
          div(data-bind="if:usePre")
            pre(class="msg", data-bind="text:message")
          div(data-bind="if:!usePre")
            span(class="msg", data-bind="text:message")

div(class="layers", data-bind="template:{name:layersVm.viewTmpl,data:layersVm}")
