div(class="spinner")
  div(class="bar bar_01")
  div(class="bar bar_02")
  div(class="bar bar_03")
  div(class="bar bar_04")
  div(class="bar bar_05")
  div(class="bar bar_06")
  div(class="bar bar_07")
  div(class="bar bar_08")
